li.first.treeview:before {
    content: 'Formulaires';
    color: white;
    text-align: center;
    font-size: 18px;
    display: block;
    border-bottom: 1px solid white;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.documents-section:before {
    content: 'Documents';
    color: white;
    text-align: center;
    font-size: 18px;
    display: block;
    border-bottom: 1px solid white;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.document-container .treeview a:first-of-type img {
    margin-top: -8px;
    margin-right: 5px;
}
.skin-black .main-header>.logo {
    height: 65px;
    padding: 14px;
    width: 255px;
}
.skin-black .main-header>.logo svg, .skin-black .main-header>.home svg, .skin-black .main-header>.logout svg  {
    height: 35px;
}

.main-sidebar, .left-side {
    width: 273px !important;
    background-color: #969EA9 !important;
}
.skin-black .sidebar-menu>li>.treeview-menu {
    background-color: #969EA9 !important;
}

.skin-black .sidebar a {
    color: white !important;
}

.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    background-color: #1e3760 !important;
}

.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn, .login-box-body input[type="text"], .login-box-body input[type="password"] {
    background-color: #ebeef3 !important;
    color: #1E3760 !important;
}

.login-box input {
    height: 45px;
    margin-bottom: 25px;
}

.login-box .form-control-feedback {
    width: 43px;
    height: 45px;
    line-height: 46px;
}

.sidebar-form {
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 31px !important;
    margin-top: 38px !important;
}

.fa-search:before {
    background-image: url('../img/magnifying-glass.svg') !important;
    background-repeat: no-repeat;
    background-size: 18px 21px;
    display: inline-block;
    width: 18px;
    height: 25px;
    content:"" !important;
}

.sidebar-form input[type="text"]::placeholder {
    color: #1E3760 !important;
}

.sidebar-menu .fa-folder:before {
    background-image: url('../img/check-square.svg') !important;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content:"" !important;
}

.sidebar-menu .fa-folder {
    margin-right: 5px;
}

.sidebar-menu .pull-right-container{
    display: none;
}

.sidebar-menu .fa-angle-double-right:before {
    content:" | " !important;
}

.sidebar-menu .fa-angle-double-right {
    width: 10px !important;
    margin-left: 20px;
}

.content-wrapper, .right-side {
    background-color: #ffffff !important;
    padding-right: 20px;
}

.content-wrapper, .right-side, .main-footer {
    margin-left: 273px !important;
}

.breadcrumb {
    display: none;
}

.content-header .navbar, .sidebar-toggle {
    display: none;
}

.skin-black .wrapper {
    background-color: white !important;
}

.skin-black .main-header>.logo, .skin-black .main-header .navbar{
    background-color: #1e3760 !important;
    border-right: 0 !important;

}

.skin-black .main-header .home {
    position: absolute;
    z-index: 10001;
    right: 80px;
    top: 13px;
}

.skin-black .main-header .logout {
    position: absolute;
    z-index: 10001;
    right: 20px;
    top: 13px;
}

.form-title .box-title{
    font-size: 25px !important;
    color: black !important;
}

.form-title .box-body {
    display: none;
}

.box {
    border-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.form-container {
    background-color: #ebeef3;
    padding: 20px !important;
    margin-left:10px;
    color: #1E3760;
    margin-bottom: 50px;
}


.form-container h3 {
    padding-bottom: 15px;
    margin-bottom: 45px;
    border-bottom: 1px solid #1E3760;
}

.form-container p.little-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.form-container .required {
    content: '*';
    color: red;
}

.form-container .simulation-societe {
  padding-right: 0;
}

.form-container .simulation-societe , .form-container .simulation-societe .col-md-6, .publi-info-commercial .col-md-6, .publi-info-annonceur .col-md-6 {
    padding-left: 0;
}

.form-container .simulation-societe .col-md-6:last-of-type {
    padding-right: 0;
}

.form-container input.form-control {
    color: #536d98 !important;
    height: 40px !important;
    border-radius: 4px !important;
    font-size: 15px !important;
}

.form-control::-webkit-input-placeholder {
    color:    #536d98 !important;
}
.form-control:-moz-placeholder {
    color:    #1E3760;
}
.form-control::-moz-placeholder {
    color:    #1E3760;
}
.form-control:-ms-input-placeholder {
    color:    #1E3760;
}

.form-container .col-md-12 {
    margin-bottom: 40px;
}

.form-container h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container .section-input {
    background-color: #ffffff;
    padding: 15px;
}

.section-simulation-ciblage li:first-of-type {
    display: none;
}

.range-ciblage {
    margin-top: 25px;
    padding: 20px;
}

.ui-slider-range, .ui-widget-content {
    background: #969eaa !important;
}

.ui-corner-all {
    border-radius: 0 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-slider-handle {
    border-radius: 100% !important;
    background: #1E3760 !important;
    border: none !important;
    cursor: pointer !important;
}

.section-simulation-ciblage-geo .col-md-6, .section-simulation-ciblage-geo .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.section-simulation-ciblage-geo .arrondissements li {
    display: inline-block;
    width: 11.11%;
    margin-bottom: 20px;
}

.section-simulation-ciblage-geo .arrondissements ul {
    margin: 0 auto;
    text-align: center;
}

.section-simulation-ciblage-geo .checkbox label {
    display: inline;
}

.section-simulation-ciblage-geo .col-md-6 input, .section-simulation-ciblage-geo .region-container input {
    margin-bottom: 10px;
    background-color: #ebeef3;
}

.section-simulation-ciblage-geo .choice-ville li {
    margin-bottom: 28px;
}
.section-simulation-ciblage-geo .range-rayon1 {
    margin-top: 10px;
}
.section-simulation-ciblage-geo .range-rayon1, .section-simulation-ciblage-geo .range-rayon2, .section-simulation-ciblage-geo .range-rayon3 {
    margin-bottom: 40px;
    padding-right: 20px;
}

.section-centre-interets textarea {
    background-color: #ebeef3;
    height: 70px !important;
    border-radius: 4px !important;
    font-size: 15px !important;
}

.section-simulation-campagne{
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.section-simulation-campagne .col-md-6 {
    width: 49% !important;
}

.section-simulation-campagne .col-md-12 ul li:first-of-type {
    display: none;
}

.section-simulation-observations textarea {
    background-color: #ffffff;
    height: 70px !important;
    border-radius: 4px !important;
    font-size: 15px !important;
}

.btn-submit {
    border-radius: 4px !important;
    color: white !important;
    background-color: #1e3760 !important;
    width: 80% !important;
    margin: 50px auto;
    height: 54px !important;
}

.sonata-ba-form-actions {
    display: none !important;
}

.form-fb-page input, .form-fb-page .select2-container {
    margin-bottom: 10px;
}

.form-fb-page .select2-container .select2-choice {
    border-radius: 4px !important;
    height: 40px;
}

.select2-choice>span:first-child, .select2-chosen, .select2-container .select2-choices .select2-search-field input {
    padding: 10px 12px !important;
}

.select2-container .select2-choice .select2-arrow {
    top: 3px !important;
}

.form-fb-page {
    display: none;
}

.radio .required {
    color: inherit;
}

.radio .required:after {
    content: '';
}

.red {
    color: red;
}

.navbar-static-top {
    margin-left: 250px !important;
}

.navbar-custom-menu li:first-of-type, .navbar-custom-menu .dropdown-toggle:first-of-type {
    display: none;
}

.publi-info-annonceur .col-md-6, .publi-info-commercial .col-md-6 {
    margin-bottom: 8px;
}

.summary-publication .btn{
    margin-bottom: 15px;
}

.table-summary-parution {
    margin-top: 50px;
}

.table-summary-parution tr:nth-child(odd){
    background-color: white;
}

.create-document input {
    margin-bottom: 20px;
}

.offre-objectif .col-md-6 {
    height: 460px;
}

.type-pub li:first-of-type {
    display: none;
}

.btn-sm {
    height: 34px !important;
    float:right;
}

.skin-black .main-header .menu {
    display: none;
}

@media screen and (max-width: 426px)
{
    .skin-black .main-header {
        position: fixed !important;
    }

    .sticky-wrapper {
        display: none;
    }

    .skin-black .main-header>.logo {
        height: 45px;
        padding: 8px;
    }

    .skin-black .main-header .home {
        top: 8px;
        right: 50px;
    }

    .skin-black .main-header .logout {
        top: 9px;
        right: 10px;
    }

    .skin-black .main-header>.logo svg, .skin-black .main-header>.home svg, .skin-black .main-header>.logout svg {
        height: 25px;
        margin-bottom: 10px;
    }

    .skin-black .main-header .navbar {
        display: none;
    }

    .skin-black .main-header .menu {
        display: block;
        position: absolute;
        top: 8px;
        left: 6px;
    }

    .main-sidebar, .left-side {
        display: none;
        left: 228px !important;
        padding-top:30px !important;
    }

    .content-wrapper, .right-side, .main-footer {
        margin-left: 0 !important;
        padding-top:35px !important;
    }

    .offre-objectif .col-md-6 {
        width: 100% !important;
    }

    .simulation-societe .col-md-6 {
        margin-bottom: 15px;
        padding-right: 0 !important;
    }

    .arrondissements {
        font-size: 8px;
    }

    .section-simulation-ciblage-geo .range-rayon1, .section-simulation-ciblage-geo .range-rayon2, .section-simulation-ciblage-geo .range-rayon3 {
        padding-left: 20px;
    }

    .search-btn {
        display: none;
    }

}

#map {
    height: 260px;
}