{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}

    <div class="form-container col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        {{ form_start(form) }}
        <h3><strong>Prospective</strong> | Demande</h3>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-12 section-input" style="margin-bottom: 0px">
                <p class="little-title">Media</p>
                {{ form_widget(form.media) }}
                <br>
                <p class="little-title">Commercial pour la zone</p>
                {{ form_widget(form.departementcommercial) }}
            </div>
        </div>
        <h4>Commercial <span class="required"></span></h4>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-6">
                {{ form_widget(form.nomcommercial) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.prenomcommercial) }}
            </div>
        </div>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-6">
                {{ form_widget(form.emailcommercial) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.telephonecommercial) }}
            </div>
        </div>
        <h4>Client <span class="required"></span></h4>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-6">
                {{ form_widget(form.nomclient) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.sitewebclient) }}
            </div>
        </div>
        <h4>Prospective <span class="required"></span></h4>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-12 section-input" style="margin-bottom: 0px">
                <p class="little-title">Formats souhaités</p>
                {{ form_widget(form.listeformatsbase) }}
            </div>
        </div>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-12 section-input" style="margin-bottom: 0px">
                <p class="little-title">Zone de diffusion</p>
                {{ form_widget(form.listezonediffusionbase) }}
                {{ form_widget(form.rubrique) }}
                <p>Merci de bien préciser la zone de diffusion souhaitée (ex. : Rhône, Lifestyle Conso, Edition premium Ain, etc.)</p>
            </div>
        </div>
        <div class="col-md-12 simulation-societe" style="margin-bottom: 0px">
            <div class="col-md-12 section-input">
                <p class="little-title">Type de communication</p>
                {{ form_widget(form.listetypebase) }}
            </div>
        </div>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-12 col-xs-12 section-input" style="margin-bottom: 0px">
                <p class="little-title">Briefing</p>
                {{ form_widget(form.briefing) }}
                <p>Bien préciser quels éléments graphiques et quels thèmes utiliser, les formats souhaités, etc.</p>
                <br>
                <div class="col-md-10 col-xs-10" style="padding-left: 0; padding-right: 0">
                    {{ form_widget(form.file1, {'attr': {'class': 'input-file'}}) }}
                </div>
                <div class="col-md-2 col-xs-2" style="padding-left: 0; padding-right: 0">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        <span class="search-btn">Rechercher</span> <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </div>
                <br>
                <div class="col-md-12 col-xs-12" style="margin-bottom: 10px;">
                    {% if form.vars.value.file1 != "" %}
                        <a href="{{ form.vars.value.file1 }}" target="_blank">Voir le fichier</a>
                    {% endif %}
                </div>

                <div class="col-md-10 col-xs-10" style="padding-left: 0; padding-right: 0">
                    {{ form_widget(form.file2, {'attr': {'class': 'input-file'}}) }}
                </div>
                <div class="col-md-2 col-xs-2" style="padding-left: 0; padding-right: 0">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        <span class="search-btn">Rechercher</span> <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </div>
                <br>
                <div class="col-md-12 col-xs-12"  style="margin-bottom: 10px;">
                    {% if form.vars.value.file2 != "" %}
                        <a href="{{ form.vars.value.file2 }}" target="_blank">Voir le fichier</a>
                    {% endif %}
                </div>

                <div class="col-md-10 col-xs-10" style="padding-left: 0; padding-right: 0">
                    {{ form_widget(form.file3, {'attr': {'class': 'input-file'}}) }}
                </div>
                <div class="col-md-2 col-xs-2" style="padding-left: 0; padding-right: 0">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        <span class="search-btn">Rechercher</span> <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </div>
                <br>
                <div class="col-md-12 col-xs-12"  style="margin-bottom: 10px;">
                    {% if form.vars.value.file3 != "" %}
                        <a href="{{ form.vars.value.file3 }}" target="_blank">Voir le fichier</a>
                    {% endif %}
                </div>

                <div class="col-md-10 col-xs-10" style="padding-left: 0; padding-right: 0">
                    {{ form_widget(form.file4, {'attr': {'class': 'input-file'}}) }}
                </div>
                <div class="col-md-2 col-xs-2" style="padding-left: 0; padding-right: 0">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        <span class="search-btn">Rechercher</span> <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </div>
                <br>
                <div class="col-md-12 col-xs-12"  style="margin-bottom: 10px;">
                    {% if form.vars.value.file4 != "" %}
                        <a href="{{ form.vars.value.file4 }}" target="_blank">Voir le fichier</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit form-control">ENVOYER / MODIFIER MA DEMANDE</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">File Manager</h4>
                </div>
                <div class="modal-body">
                    <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'button'}) }}" width="100%" height="500"
                            frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <script type="text/javascript">
            var tooltipAgemin = $('<div id="tooltipAgemin" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });
            var tooltipAgemax = $('<div id="tooltipAgemax" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });
            rangeAge = [15, 62];
            if($('.agemin').val() != '') {
                rangeAge[0] = $('.agemin').val();
            }

            if($('.agemax').val() != '') {
                rangeAge[1] = $('.agemax').val();
            }
            $( "#slider-range" ).slider({
                range: true,
                min: 13,
                max: 65,
                values: rangeAge,
                create: function() {
                    tooltipAgemin.text(rangeAge[0]);
                    tooltipAgemax.text(rangeAge[1]);
                },
                slide: function( event, ui ) {
                    $( ".agemin" ).val(ui.values[0]);
                    $( ".agemax" ).val(ui.values[1]);
                    tooltipAgemin.text(ui.values[0]);
                    tooltipAgemax.text(ui.values[1]);
                }
            }).find(".ui-slider-handle").first().append(tooltipAgemin);

            $("#slider-range").find(".ui-slider-handle").last().append(tooltipAgemax);

            var tooltip1 = $('<div id="tooltip1" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });

            rangeRayon1 = [17];
            if($('.rayon1').val() != '') {
                rangeRayon1[0] = $('.rayon1').val();
            }
            $( "#slider-range-rayon1" ).slider({
                min: 17,
                max: 150,
                values: rangeRayon1,
                create: function() {
                    tooltip1.text(rangeRayon1[0] + 'km')
                },
                slide: function( event, ui ) {
                    $( ".rayon1" ).val(ui.values[0]);
                    tooltip1.text(ui.value + "km");
                }
            }).find(".ui-slider-handle").append(tooltip1);


            var tooltip2 = $('<div id="tooltip2" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });

            rangeRayon2 = [17];
            if($('.rayon2').val() != '') {
                rangeRayon2[0] = $('.rayon2').val();
            }
            $( "#slider-range-rayon2" ).slider({
                min: 17,
                max: 150,
                values: rangeRayon2,
                create: function() {
                    tooltip2.text(rangeRayon2[0] + 'km')
                },
                slide: function( event, ui ) {
                    $( ".rayon2" ).val(ui.values[0]);
                    tooltip2.text(ui.value + "km");
                }
            }).find(".ui-slider-handle").append(tooltip2);

            var tooltip3 = $('<div id="tooltip3" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });

            rangeRayon3 = [17];
            if($('.rayon3').val() != '') {
                rangeRayon3[0] = $('.rayon3').val();
            }
            $( "#slider-range-rayon3" ).slider({
                min: 17,
                max: 150,
                values: rangeRayon3,
                create: function() {
                    tooltip3.text(rangeRayon3[0] + 'km')
                },
                slide: function( event, ui ) {
                    $( ".rayon3" ).val(ui.values[0]);
                    tooltip3.text(ui.value + "km");
                }
            }).find(".ui-slider-handle").append(tooltip3);

            $('.checkbox-rayon-1').on('ifChecked', function () {
                $('#slider-range-rayon1').hide();
                $('.rayon1').val(0);
            });

            $('.checkbox-rayon-1').on('ifUnchecked', function () {
                $('.rayon1').val(17);
                $( "#slider-range-rayon1" ).slider({
                    values: [17],
                });
                tooltip1.text("17km");
                $('#slider-range-rayon1').show();
            });

            $('.checkbox-rayon-2').on('ifChecked', function () {
                $('#slider-range-rayon2').hide();
                $('.rayon2').val(0);
            });

            $('.checkbox-rayon-2').on('ifUnchecked', function () {
                $('.rayon2').val(17);
                $( "#slider-range-rayon2" ).slider({
                    values: [17],
                });
                tooltip2.text("17km");
                $('#slider-range-rayon2').show();
            });

            $('.checkbox-rayon-3').on('ifChecked', function () {
                $('#slider-range-rayon3').hide();
                $('.rayon3').val('');

            });

            $('.checkbox-rayon-3').on('ifUnchecked', function () {
                $('.rayon3').val(17);
                $( "#slider-range-rayon3" ).slider({
                    values: [17],
                });
                tooltip3.text("17km");
                $('#slider-range-rayon3').show();
            });

            $(document).on('ifChecked', '.checkbox-fb', function (e) {
                $('.form-fb-page').hide();
                $(this).parent().parent().parent().next().css('display', 'block');
            });

            $(document).on('ifChecked', '.objectif-radio', function (e) {
                if($('.objectif-radio:checked').val() == '2') {
                    $('.type-1').parent().parent().parent().css('display', 'none');
                } else {
                    $('.type-1').parent().parent().parent().css('display', 'block');
                }
            });

            $(function() {
                if($('.fb-page-section .radio .iradio_square-blue input:checked')) {
                    $('.fb-page-section .radio .iradio_square-blue input:checked').parent().parent().parent().next().css('display', 'block');
                }
                $('.date-campagne').daterangepicker({
                }, function(start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
            });
            $('.btn-primary').on('click', function (e) {
               id = $(this).parent().prev().children().attr('id');
               $('#myframe').attr('data-id', id);
            });
            $('#myframe').on('load', function () {
                $(this).contents().on('click','.select',function () {
                    var path = $(this).attr('data-path');
                    $('.input-file[id="'+ $('#myframe').attr('data-id') +'"]').val(path);

                    $('#myModal').modal('hide');
                });
            });
        </script>
    </div>
{% endblock %}