{% extends 'default/standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="calendar"></div>
    <script>
        pub = {{ publications|json_encode|raw }};
        var date = new Date()
        var d    = date.getDate(),
            m    = date.getMonth(),
            y    = date.getFullYear()
        $('.calendar').fullCalendar({
            locale : 'fr',
            displayEventTime : false,
            header    : {
                left  : 'prev,next today',
                center: 'title',
                right : 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'Aujourd\'hui',
                month: 'Par mois',
                week : 'Par semaine',
                day  : 'Par jour'
            },
            events: [
                {% for publication in publications %}
                {
                    title: "{{ publication.raisonsocialAnnonceur }}",
                    start: new Date('{{ publication.dateParution | date() }}'),
                    url: "{{ path('summary_publication', {id: publication.id}) }}",
                    {% if  publication.status == 2 %}
                    backgroundColor: '#00ACD6',
                    {% elseif  publication.status == 3 %}
                    backgroundColor: '#BF1855',
                    {% elseif  publication.status == 4 %}
                    backgroundColor: '#008D4C',
                    {% else %}
                    backgroundColor: '#3b3b3b',
                    {% endif %}
                    borderColor    : '#000000'
                },
                {% endfor %}
            ]
        });
    </script>
{% endblock %}