{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}

    <div class="form-container col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        {{ form_start(form) }}
        <h3><strong>Publi Info</strong> | Création</h3>

        <h4>Données commerciales <span class="required"></span></h4>
        <div class="col-md-12 publi-info-commercial">
            <div class="col-md-6">
                {{ form_widget(form.departement) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.nomCommercial) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.telCommercial) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.emailCommercial, {'value': app.user.email }) }}
            </div>
        </div>
        <h4>Annonceur <span class="required"></span><h4>
        <div class="col-md-12 publi-info-annonceur">
            <div class="col-md-6">
                {{ form_widget(form.raisonsocialAnnonceur) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.contactAnnonceur) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.adresseAnnonceur) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.telAnnonceur) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.emailAnnonceur) }}
            </div>
        </div>
        <h4>Détails de la réservation</h4>
        <div class="col-md-12 section-publi-info-reservation">
            <div class="col-md-12 section-input">
                <p class="little-title">Date de 1ère parution <span class="required"></span></p>
                <p>Vous ne pouvez pas selectionner une date de parution inférieure à 4 jours.
                    Si plusieurs dates de parution, merci de l'indiquer dans le cartouche "informations supplémentaires".</p>
                <div class="col-md-6">
                    {{ form_widget(form.dateParution) }}
                </div>
            </div>
            <div class="col-md-12 section-input">
                <p class="little-title">Choix du support <span class="required"></span></p>
                <div class="col-md-4">
                    {{ form_widget(form.support[0]) }}
                    {{ form_widget(form.support[1]) }}
                    {{ form_widget(form.support[2]) }}
                    {{ form_widget(form.support[3]) }}
                    {{ form_widget(form.support[4]) }}
                    {{ form_widget(form.support[5]) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.support[6]) }}
                    {{ form_widget(form.support[7]) }}
                    {{ form_widget(form.support[8]) }}
                    {{ form_widget(form.support[9]) }}
                    {{ form_widget(form.support[10]) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.support[11]) }}
                    {{ form_widget(form.support[12]) }}
                    {{ form_widget(form.support[13]) }}
                </div>
            </div>
            <div class="col-md-12 section-input">
                <p class="little-title">Choix du format <span class="required"></span></p>
                    {{ form_widget(form.format) }}
            </div>
            <div class="col-md-12 section-input">
                <p class="little-title">Informations supplémentaires <span class="required"></span></p>
                {{ form_widget(form.theme) }}
                <br>
                {{ form_widget(form.observations) }}
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit form-control">ENVOYER / MODIFIER LA DEMANDE</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}