{% extends 'default/standard_layout.html.twig' %}
{% block title %}Details publication{% endblock %}
{% block sonata_admin_content %}
    <div class="form-container summary-publication col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        <h3><strong>Publication</strong> | Details</h3>
        <div class="col-md-3">
            <p class="little-title">Changer le statut</p>
            <p><strong>Statut actuel:</strong>
                {% if publication.status == 1 or publication.status == null%}
                    Non défini
                {% elseif  publication.status == 2 %}
                    Pigiste
                {% elseif  publication.status == 3 %}
                    Interne
                {% elseif  publication.status == 4 %}
                    Réalisé
                {% endif %}
            </p>
            <a class="btn btn-default col-md-12" href="{{ path('change_status_publication', {publicationId: publication.id, statusId: 2}) }}" style="background-color: #00ACD6; color: white">Pigiste</a>
            <a class="btn btn-default col-md-12" href="{{ path('change_status_publication', {publicationId: publication.id, statusId: 3}) }}"  style="background-color: #BF1855; color: white">Interne</a>
            <a class="btn btn-default col-md-12" href="{{ path('change_status_publication', {publicationId: publication.id, statusId: 4}) }}"  style="background-color: #008D4C; color: white">Réalisé</a>
            <p class="little-title">Actions</p>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a class="btn btn-default col-md-12" href="{{ path('admin_app_publication_form_edit', {id: publication.id}) }}" style="background-color: #E08E0B; color: white">Modifier</a>
            {% elseif is_granted('ROLE_ADMIN') and app.user.email == publication.emailCommercial  %}
                <a class="btn btn-default col-md-12" href="{{ path('admin_app_publication_form_edit', {id: publication.id}) }}" style="background-color: #E08E0B; color: white">Modifier</a>
            {% endif %}
        </div>
        <div class="col-md-9">
            <p class="little-title">Demande de publi info</p>
            <div class="col-md-4">
                <p>Annonceur :</p>
                <p><strong>{{ publication.raisonsocialAnnonceur }}</strong></p>
                <p><strong>{{ publication.nomAnnonceur }}</strong></p>
                <p><strong>{{ publication.adresseAnnonceur }}</strong></p>
                <p><strong>{{ publication.emailAnnonceur }}</strong></p>
                <p><strong>{{ publication.telAnnonceur }}</strong></p>
            </div>
            <div class="col-md-4">
                <p>Commercial :</p>
                {% if publication.departement == 1 %}
                    <p><strong>AIN</strong></p>
                {% elseif publication.departement == 2 %}
                    <p><strong>LOIRE / HAUTE-LOIRE</strong></p>
                {% elseif publication.departement == 3 %}
                    <p><strong>JURA</strong></p>
                {% elseif publication.departement == 4 %}
                    <p><strong>RHÔNE</strong></p>
                {% elseif publication.departement == 5 %}
                    <p><strong>SAÔNE ET LOIRE</strong></p>
                {% elseif publication.departement == 6 %}
                    <p><strong>CÖTE D'OR</strong></p>
                {% endif %}
                <p><strong>{{ publication.nomCommercial }}</strong></p>
                <p><strong>{{ publication.emailCommercial }}</strong></p>
                <p><strong>{{ publication.telCommercial }}</strong></p>
            </div>
            <div class="col-md-4">
                <p>ID :</p>
                <p><strong>#{{ publication.id }}</strong></p>
                <p>Num. Ordre :</p>
                <p><strong>{{ publication.id }}</strong></p>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-summary-parution">
                <tr>
                    <td width="165"><strong>Date de la demande</strong></td>
                    <td>{{ publication.dateSaisie | date('d/m/y') }}</td>
                </tr>
                <tr>
                    <td><strong>Date de publication</strong></td>
                    <td>{{ publication.dateParution | date('d/m/y') }}</td>
                </tr>
                <tr>
                    <td><strong>Support(s)</strong></td>
                    <td>
                        {% for support in publication.support %}
                            {% if support == 1 %}
                                <p>Progrès</p>
                            {% elseif support == 2 %}
                                <p>CNews Matin / Lyon Plus</p>
                            {% elseif support == 3 %}
                                <p>Bien Public</p>
                            {% elseif support == 4 %}
                                <p>JSL</p>
                            {% elseif support == 5 %}
                                <p>TV Mag</p>
                            {% elseif support == 6 %}
                                <p>Version Femina</p>
                            {% elseif support == 7 %}
                                <p>C'est en ville Lyon</p>
                            {% elseif support == 8 %}
                                <p>C'est en ville Est</p>
                            {% elseif support == 9 %}
                                <p>C'est en ville Ouest</p>
                            {% elseif support == 10 %}
                                <p>C'est en ville Chalon</p>
                            {% elseif support == 11 %}
                                <p>C'est en ville Dijon</p>
                            {% elseif support == 12 %}
                                <p>Progrès.fr (web)</p>
                            {% elseif support == 13 %}
                                <p>lesjl.com (web)</p>
                            {% elseif support == 14 %}
                                <p>bienpublic.com (web)</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Format</strong></td>
                    <td>
                        {% if publication.format == 1%}
                            1/4 page (1500 signes)
                        {% elseif publication.format == 2 %}
                            1/2 page (3000 signes)
                        {% elseif publication.format == 3 %}
                            1 page (6000 signes)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Thème</strong></td>
                    <td>{{ publication.theme }}</td>
                </tr>
                <tr>
                    <td><strong>Observations</strong></td>
                    <td>{{ publication.observations }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}