<ul class="sidebar-menu document-container documents-section" data-widget="tree">
    {% for category in documentsCategory %}
        <li class="treeview">
            <a href="#">
                <img src="{{ asset('assets/img/folder.svg') }}">
                <span>{{ category.category }}</span>
            </a>
            <ul class="treeview-menu menu_level_1">
                {% for document in documents %}
                    {% if document.category == category %}
                        <li>
                            <a target="_blank" href="{{ document.url }}">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                {{ document.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>