{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    {{ render(controller('AppBundle\\Controller\\DefaultController::getDocumentAction')) }}
{% endblock %}

{% block meta_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block logo %}
    <a href="#" class="menu">
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
        <svg height="25px" id="Layer_1" style="enable-background:new 0 0 370 62.7;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z" fill="#FFFFFF"/>
        </svg>
    </a>
    <a href="{{ path('sonata_admin_dashboard') }}" class="logo">

        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 405.3 62.7" style="enable-background:new 0 0 405.3 62.7;" xml:space="preserve">
            <style type="text/css">
                .st0{enable-background:new    ;}
                .st1{fill:#FFFFFF;}
            </style>
                <g class="st0">
                    <path class="st1" d="M0.3,52.7V13.9h26.4v8.5H9.8v6.5h14.4v8.5H9.8v6.8h16.8v8.5H0.3z"/>
                    <path class="st1" d="M60,46.2c-0.6,1.4-1.5,2.6-2.5,3.6c-1.1,1-2.3,1.7-3.8,2.2s-3.1,0.7-4.8,0.7H32V13.9h16.1c2,0,3.8,0.3,5.3,0.8
            s2.8,1.3,3.9,2.3c1.1,1,1.8,2.2,2.4,3.5c0.5,1.4,0.8,2.9,0.8,4.6c0,1.1-0.2,2.1-0.5,2.9s-0.7,1.6-1.2,2.3c-0.5,0.6-0.9,1.2-1.4,1.6
            c-0.5,0.4-0.9,0.7-1.2,0.9c0.4,0.3,0.9,0.6,1.4,1s1.1,0.9,1.6,1.6c0.5,0.7,0.9,1.5,1.3,2.4c0.3,0.9,0.5,2.1,0.5,3.5
            C61,43.1,60.7,44.7,60,46.2z M50.2,23.5c-0.5-0.7-1.4-1-2.7-1h-5.9v6.3h5.9c1.3,0,2.2-0.3,2.7-1s0.7-1.4,0.7-2.2
            C50.9,24.9,50.7,24.2,50.2,23.5z M50.7,38.4c-0.5-0.7-1.4-1.1-2.7-1.1h-6.4v6.8H48c1.3,0,2.2-0.4,2.7-1.1c0.5-0.7,0.8-1.5,0.8-2.3
            S51.2,39.1,50.7,38.4z"/>
                    <path class="st1" d="M85.8,52.7l-6.9-14.4h-3.2v14.4h-9.5V13.9h15.4c2.1,0,4,0.4,5.7,1.1c1.7,0.7,3,1.6,4.2,2.8
            c1.1,1.2,2,2.5,2.5,4c0.6,1.5,0.8,3,0.8,4.6c0,1.3-0.2,2.5-0.5,3.6c-0.4,1.1-0.8,2.1-1.4,2.9c-0.6,0.8-1.3,1.6-2,2.2
            c-0.8,0.6-1.5,1.1-2.3,1.5L97,52.8L85.8,52.7L85.8,52.7z M84.2,23.7c-0.7-0.8-1.7-1.2-3-1.2h-5.4v7.8h5.4c1.3,0,2.3-0.4,3-1.2
            c0.7-0.8,1.1-1.7,1.1-2.7C85.3,25.4,84.9,24.5,84.2,23.7z"/>
                    <path class="st1" d="M122,52.7l-1.8-5.8h-11.9l-1.9,5.8h-10l14.1-38.8h7.4L132,52.7H122z M114.4,28.6L111,39h6.8L114.4,28.6z"/>
                    <path class="st1" d="M172.4,29.8c-0.6,1.4-1.4,2.5-2.5,3.5c-1,0.9-2.3,1.7-3.7,2.2s-3,0.8-4.7,0.8h-11.3v16.4h-2.9V13.9h14.2
            c1.7,0,3.2,0.2,4.7,0.7c1.4,0.5,2.7,1.2,3.7,2.2s1.9,2.1,2.5,3.5s0.9,3,0.9,4.7C173.3,26.9,173,28.4,172.4,29.8z M167.8,18.6
            c-1.7-1.4-3.9-2.1-6.6-2.1h-10.9v17.1h10.9c2.7,0,4.9-0.7,6.6-2.1c1.7-1.4,2.5-3.5,2.5-6.5C170.3,22.2,169.5,20,167.8,18.6z"/>
                    <path class="st1" d="M206.7,45.3c-0.7,1.6-1.6,2.9-2.8,4.1c-1.2,1.1-2.6,2-4.2,2.7s-3.4,1-5.4,1s-3.7-0.3-5.4-1s-3-1.5-4.2-2.7
            c-1.2-1.1-2.1-2.5-2.8-4.1s-1-3.3-1-5.2V13.9h2.9v25.8c0,1.6,0.2,3.1,0.7,4.4s1.2,2.5,2.1,3.4c0.9,0.9,2,1.6,3.3,2.2
            c1.3,0.5,2.7,0.8,4.2,0.8c1.6,0,3-0.3,4.2-0.8c1.3-0.5,2.4-1.2,3.3-2.2c0.9-0.9,1.6-2.1,2.1-3.4c0.5-1.3,0.7-2.8,0.7-4.4V13.9h2.9
            v26.2C207.7,42,207.4,43.7,206.7,45.3z"/>
                    <path class="st1" d="M244.4,46.7c-0.5,1.3-1.3,2.4-2.3,3.3c-1,0.9-2.2,1.6-3.6,2c-1.4,0.5-3,0.7-4.7,0.7h-14.7V13.9h14.3
            c1.6,0,3.1,0.2,4.5,0.7s2.6,1.1,3.6,2s1.8,1.9,2.3,3.2c0.6,1.3,0.8,2.7,0.8,4.3c0,2-0.5,3.8-1.6,5.4s-2.6,2.7-4.4,3.3
            c2.1,0.7,3.7,1.9,4.9,3.5s1.7,3.6,1.7,5.8C245.2,43.9,245,45.4,244.4,46.7z M241,20.6c-0.5-0.9-1.1-1.7-1.9-2.3
            c-0.8-0.6-1.7-1-2.8-1.3s-2.2-0.4-3.3-0.4h-11v15h11c1.2,0,2.3-0.1,3.3-0.4c1.1-0.3,2-0.7,2.8-1.3c0.8-0.6,1.4-1.4,1.9-2.3
            s0.7-2.1,0.7-3.4C241.7,22.7,241.5,21.6,241,20.6z M239.9,36.3c-1.6-1.4-3.7-2.1-6.4-2.1h-11.4v15.9h11.4c2.6,0,4.8-0.7,6.4-2.1
            c1.6-1.4,2.4-3.3,2.4-5.9S241.5,37.7,239.9,36.3z"/>
                    <path class="st1" d="M255.7,52.7V13.9h2.9v36.2h20.6v2.6C279.2,52.7,255.7,52.7,255.7,52.7z"/>
                    <path class="st1" d="M286.8,52.7V13.9h2.9v38.8C289.7,52.7,286.8,52.7,286.8,52.7z"/>
                    <path class="st1" d="M325.1,46.4c-0.8,1.4-1.7,2.6-2.9,3.6s-2.5,1.7-3.9,2.3c-1.5,0.5-3.1,0.8-4.8,0.8c-1.9,0-3.6-0.3-5.3-1
            c-1.7-0.7-3.1-1.7-4.4-2.9c-0.9-0.9-1.6-1.8-2-2.7c-0.5-0.9-0.9-2-1.1-3.2s-0.4-2.6-0.4-4.2s-0.1-3.5-0.1-5.6c0-2.2,0-4.1,0.1-5.7
            c0-1.6,0.2-3,0.4-4.2c0.2-1.2,0.6-2.3,1.1-3.2c0.5-0.9,1.2-1.8,2-2.7c1.3-1.3,2.7-2.3,4.4-2.9c1.7-0.7,3.4-1,5.3-1
            c1.7,0,3.3,0.3,4.8,0.8s2.8,1.3,3.9,2.3s2.1,2.2,2.8,3.6c0.8,1.4,1.3,3,1.6,4.7h-3c-0.6-2.7-1.8-4.8-3.6-6.4
            c-1.8-1.6-4-2.3-6.6-2.3c-1.4,0-2.7,0.3-4,0.8s-2.4,1.3-3.4,2.2c-0.7,0.7-1.2,1.4-1.6,2.2c-0.4,0.8-0.7,1.7-0.9,2.8
            c-0.2,1.1-0.3,2.3-0.4,3.8s-0.1,3.2-0.1,5.3c0,2.1,0,3.8,0.1,5.3s0.2,2.7,0.4,3.8c0.2,1.1,0.5,2,0.9,2.8s0.9,1.5,1.6,2.2
            c1,1,2.1,1.7,3.4,2.2s2.6,0.8,4,0.8c2.6,0,4.8-0.8,6.7-2.3c1.8-1.6,3-3.7,3.6-6.4h2.9C326.4,43.4,325.8,45,325.1,46.4z"/>
                    <path class="st1" d="M336.8,52.7V13.9h2.9v38.8C339.7,52.7,336.8,52.7,336.8,52.7z"/>
                    <path class="st1" d="M361.9,16.5v36.2H359V16.5h-11.5v-2.6h26.1v2.6H361.9z"/>
                    <path class="st1" d="M381.1,52.7V13.9h23.5v2.6H384v15.3h17.5v2.6H384V50h20.6v2.6h-23.5V52.7z"/>
            </g>
        </svg>

    </a>
    <a href="{{ path('sonata_admin_dashboard') }}" class="home">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
             x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <path d="M506.555,208.064L263.859,30.367c-4.68-3.426-11.038-3.426-15.716,0L5.445,208.064    c-5.928,4.341-7.216,12.665-2.875,18.593s12.666,7.214,18.593,2.875L256,57.588l234.837,171.943c2.368,1.735,5.12,2.57,7.848,2.57    c4.096,0,8.138-1.885,10.744-5.445C513.771,220.729,512.483,212.405,506.555,208.064z"
                          fill="#FFFFFF"/>
                </g>
            </g>
            <g>
                <g>
                    <path d="M442.246,232.543c-7.346,0-13.303,5.956-13.303,13.303v211.749H322.521V342.009c0-36.68-29.842-66.52-66.52-66.52    s-66.52,29.842-66.52,66.52v115.587H83.058V245.847c0-7.347-5.957-13.303-13.303-13.303s-13.303,5.956-13.303,13.303v225.053    c0,7.347,5.957,13.303,13.303,13.303h133.029c6.996,0,12.721-5.405,13.251-12.267c0.032-0.311,0.052-0.651,0.052-1.036v-128.89    c0-22.009,17.905-39.914,39.914-39.914s39.914,17.906,39.914,39.914v128.89c0,0.383,0.02,0.717,0.052,1.024    c0.524,6.867,6.251,12.279,13.251,12.279h133.029c7.347,0,13.303-5.956,13.303-13.303V245.847    C455.549,238.499,449.593,232.543,442.246,232.543z"
                          fill="#FFFFFF"/>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
</svg>

</a>

<a href="{{ path('sonata_user_admin_security_logout') }}" class="logout">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 490.3 490.3" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <style type="text/css">
        .st0{fill:#FFFFFF;}
    </style>
            <g>
                <g>
                    <path class="st0" d="M0,121v248.2c0,34.2,27.9,62.1,62.1,62.1h200.6c34.2,0,62.1-27.9,62.1-62.1V329c0-6.8-5.5-12.3-12.3-12.3
                s-12.3,5.5-12.3,12.3v40.2c0,20.7-16.9,37.6-37.6,37.6H62.1c-20.7,0-37.6-16.9-37.6-37.6V121c0-20.7,16.9-37.6,37.6-37.6h200.6
                c20.7,0,37.6,16.9,37.6,37.6v40.2c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3V121c0-34.2-27.9-62.1-62.1-62.1H62.1
                C27.9,58.9,0,86.7,0,121z"/>
                    <path class="st0" d="M385.4,337.6c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6l83.9-83.9c4.8-4.8,4.8-12.5,0-17.3l-83.9-83.9
                c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l63,63H218.6c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3h229.8l-63,63
                C380.6,325.1,380.6,332.9,385.4,337.6z"/>
                </g>
            </g>
    </svg>
</a>
<script>
    $('.menu').on('click', function (e) {
        e.preventDefault();
        if($('.main-sidebar, .left-side').css('display') == 'none') {
            $('.main-sidebar, .left-side').css('display', 'block')
        } else {
            $('.main-sidebar, .left-side').css('display', 'none')
        }
    })
</script>
{% endblock %}