{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    <div class="sonata-bc login-page">
        <div class="wrapper">
            <div class="login-box" style="margin-bottom: 190px">
                <div class="login-logo">
                    <a href="{{ path('sonata_admin_dashboard') }}">
                        {% if sonata_admin.adminPool.getOption('title_mode') in ['single_image', 'both'] %}
                            <div>
                                <?xml version="1.0" encoding="utf-8"?>
                                <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 370 62.7" style="enable-background:new 0 0 370 62.7;" height="32px"  xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#00000;}
                            </style>
                                    <path class="st0" d="M125.5,36.5c4.2,0,7.5-1,9.7-2.9c2.2-1.9,3.3-4.7,3.3-8.5c0-3.6-1.1-6.4-3.5-8.5c-2.4-2.1-5.6-3.1-9.6-3.1
                                h-13.2v38.6h3.3V36.5H125.5z M115.5,33.7V16.3h10.1c3.1,0.1,5.4,1,7.1,2.5c1.7,1.5,2.5,3.7,2.4,6.4c0,2.6-0.8,4.7-2.5,6.2
                                c-1.7,1.5-4,2.2-7.2,2.2H115.5z"/>
                                    <path class="st0" d="M145.2,13.6v26.8c0,3.9,1.2,6.9,3.7,9.2c2.4,2.2,5.7,3.3,9.7,3.3c2.6,0,5-0.6,7.1-1.5s3.7-2.5,4.9-4.4
                                c1.1-1.9,1.7-4.2,1.7-6.8h0.1V13.6H169v26.1c0,3.2-1,5.7-2.8,7.5s-4.3,2.8-7.5,2.8s-5.8-0.8-7.6-2.6c-1.8-1.8-2.8-4.4-2.8-7.6V13.6
                                H145.2z"/>
                                    <path class="st0" d="M80.9,39.1c4.7,0,8.5-1.1,11.1-3.3c2.6-2.2,4-5.3,4-9.2c0-2.5-0.6-4.9-1.8-6.8c-1.2-1.9-3.1-3.5-5.3-4.6
                                c-2.4-1.1-5-1.7-7.9-1.7H65.6v38.7h9.3V39.1H80.9z M74.9,20.8h6.2c1.7,0,3.1,0.6,3.9,1.5c1,1.1,1.5,2.5,1.5,4.3
                                c0,1.7-0.4,2.9-1.4,3.9c-1,1-2.4,1.4-4.2,1.4h-6.1V20.8z"/>
                                    <path class="st0" d="M27.8,29.4c1-1.4,1.4-3.2,1.4-5.1c0-3.5-1.2-6.1-3.9-7.9c-2.6-1.8-6.4-2.8-11.4-2.8H0v38.7h15.7
                                c4.7,0,8.3-1,10.7-2.9c2.4-1.9,3.6-4.7,3.6-8.6c0-2.1-0.6-3.9-1.7-5.3c-1-1.4-2.5-2.4-4.6-2.9C25.5,31.9,26.8,30.8,27.8,29.4z
                                 M9.3,20.9h4.6c2.1,0,3.6,0.4,4.6,1.1c1,0.7,1.4,1.8,1.4,3.5c0,1.4-0.4,2.5-1.2,3.2c-1,0.7-2.4,1-4.4,1.1H9.3V20.9z M19.3,44.1
                                c-1,0.7-2.2,1.1-3.9,1.1H9.3v-9.3h6.5c3.2,0,4.9,1.5,4.9,5C20.7,42.3,20.3,43.3,19.3,44.1z"/>
                                    <path class="st0" d="M46.6,52.7c2.5,0,4.7-0.4,6.8-1.5c1.9-1,3.6-2.6,4.7-4.4s1.7-4,1.7-6.5h0.3V13.6h-9.3v26.6c0,1.7-0.4,3.1-1.1,4
                                c-0.8,1-1.8,1.4-3.1,1.4c-1.4,0-2.5-0.4-3.1-1.2c-0.7-0.8-1-2.1-1-3.9h-9.3c0,3.9,1.1,6.9,3.5,9C39.1,51.6,42.5,52.7,46.6,52.7z"/>
                                    <path class="st0" d="M203.5,28.8c1.1-1.5,1.7-3.3,1.7-5.3c0-3.3-1.1-5.8-3.2-7.5c-2.2-1.7-5.3-2.5-9.4-2.5h-11.4v38.7H194
                                c3.9,0,6.9-1,9.2-2.9c2.2-1.9,3.3-4.6,3.3-8c0-2.2-0.7-4.3-2.1-6c-1.4-1.7-3.2-2.8-5.4-3.3C200.8,31.3,202.3,30.3,203.5,28.8z
                                 M200.8,35.8c1.7,1.4,2.4,3.3,2.5,5.7c0,2.6-0.8,4.6-2.5,6c-1.7,1.4-3.9,2.1-6.7,2.1h-9.9V33.7h10C197.1,33.7,199.3,34.4,200.8,35.8
                                z M199.6,29c-1.5,1.2-3.6,1.9-6.4,1.8h-8.9V16.2h8c3.2,0,5.6,0.7,7.1,1.8c1.5,1.2,2.4,3.1,2.4,5.6C201.8,25.9,201.1,27.7,199.6,29z"
                                    />
                                    <polygon class="st0" points="325.3,52.3 325.3,16.3 338.5,16.3 338.5,13.6 308.8,13.6 308.8,16.3 322,16.3 322,52.3 "/>
                                    <path class="st0" d="M266.1,19.7c2.1-2.6,4.9-3.9,8.3-3.9c6.2,0,9.9,3.3,10.7,9.9h3.3c-0.4-4-1.7-7.1-4.2-9.3
                                c-2.5-2.2-5.7-3.3-9.9-3.3c-2.9,0-5.6,0.8-7.8,2.2c-2.2,1.4-3.9,3.5-5.1,6.1c-1.2,2.6-1.8,5.7-1.8,9.2v5c0,3.3,0.6,6.4,1.8,9
                                c1.2,2.6,2.9,4.7,5.1,6.1c2.2,1.4,4.7,2.1,7.6,2.1c4.2,0,7.4-1,9.9-3.2c2.4-2.1,3.9-5.3,4.3-9.3h-3.3c-0.4,3.3-1.4,5.7-3.2,7.4
                                c-1.8,1.7-4.3,2.5-7.8,2.5s-6.1-1.4-8.2-4c-2.1-2.6-3.1-6.2-2.9-10.8v-4.7C263,25.9,264,22.3,266.1,19.7z"/>
                                    <rect x="298.1" y="13.6" class="st0" width="3.3" height="38.7"/>
                                    <polygon class="st0" points="349.2,33.7 367.2,33.7 367.2,30.9 349.2,30.9 349.2,16.3 369.9,16.3 369.9,13.6 346,13.6 346,52.3
                                370,52.3 370,49.5 349.2,49.5 "/>
                                    <rect x="246.1" y="13.6" class="st0" width="3.3" height="38.7"/>
                                    <polygon class="st0" points="215.5,13.6 215.5,52.3 237.9,52.3 238,52.3 238,49.5 218.9,49.5 218.9,13.6 "/>
                            </svg>
                            </div>
                        {% endif %}
                    </a>
                </div>
                <div class="login-box-body text-center">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Inscription" />
                    </div>
                    <a href="{{ path('sonata_user_admin_security_login') }}">Connexion</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <style>
        label {
            display: none;
        }
    </style>
{% endblock %}

