{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}
    <div class="form-container col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        {{ form_start(form) }}
        <h3><strong>User</strong> | Ajout / Edition</h3>
        <div class="col-md-12 create-document">
            {{ form_widget(form.email) }}
            {{ form_widget(form.firstname) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit form-control">ENVOYER / MODIFIER</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
