{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block show %}
    <div class="form-container col-md-12">
        <div id="divToPrint">
            <h3><strong>Facebook</strong> | Campagne</h3>
            <p class="little-title">Informations client</p>
            <div class="col-md-12">
                <p><strong>Num Ordre</strong> : {{ object.numOrdre }}</p>
                <p><strong>Société</strong> : {{ object.societe }}</p>
                <p><strong>Nom client</strong> : {{ object.nomClient }}</p>
                <p><strong>Mail client</strong> : {{ object.mailClient }}</p>
                <p><strong>Tel client</strong> : {{ object.telClient }}</p>
                <p><strong>Site web client</strong> : {{ object.sitewebClient }}</p>
            </div>

            <p class="little-title">Informations Commercial</p>
            <div class="col-md-12">
                <p><strong>Commercial</strong> : {{ object.commercial }}</p>
            </div>

            <h4>Page Facebook</h4>
            <div class="col-md-12 section-input">
                {% if object.fbPage == 1 %}
                    Créer une page pour le client<br>
                    Activités : {{ object.activiteClient }}<br>
                    Horaires : {{ object.horairesClient }}<br>
                {% elseif object.fbPage == 3 %}
                    Mise à jour de la page du client<br>
                    URL page Facebook du client  : {{ object.pageclientpourmaj }}
                {% elseif object.fbPage == 0 %}
                    Délégation d'administrateur de sa page<br>
                    URL page Facebook du client  : {{ object.pageClient }}
                {% elseif object.fbPage == 4 %}
                    Utiliser la page Facebook du titre (Offre Sélection et Success Story)
                {% endif %}
            </div>

            <h4>Options de ciblage</h4>
            <div class="col-md-12 section-input">
                <p class="little-title">Ciblage démographique</p>

                <strong>Sexe : </strong>
                {% if object.sexe == 'h' %}
                    Homme
                {% elseif object.sexe == 'f' %}
                    Femme
                {% elseif object.sexe == 'hf' %}
                    Mixte
                {% endif %}

                <br>

                <strong>Tranche d'age : </strong>
                De {{ object.agemin }} a {{ object.agemax }} ans
                <br>
                <br>
                <p class="little-title">Ciblage géographique</p>
                {% if object.arrondissement != "" %}
                    <strong>Arrondissement Lyonnais :</strong> {% for arr in object.arrondissement %}{{ arr }} -{% endfor %}
                {% endif %}
                <br>

                {% if object.ville1 != "" %}
                    <strong>Ville 1 :</strong> {{ object.rayon1 }}km autour de {{ object.ville1 }}<br>
                {% endif %}
                {% if object.ville2 != "" %}
                    <strong>Ville 2 :</strong> {{ object.rayon2 }}km autour de {{ object.ville2 }}<br>
                {% endif %}
                {% if object.ville3 != "" %}
                    <strong>Ville 3 :</strong> {{ object.rayon3 }}km autour de {{ object.ville3 }}<br>
                {% endif %}

                {% if object.region1 != "" %}
                    <strong>Région 1 :</strong> {{ object.region1 }}<br>
                {% endif %}
                {% if object.region2 != "" %}
                    <strong>Région 2 :</strong> {{ object.region2 }}<br>
                {% endif %}
                {% if object.region3 != "" %}
                    <strong>Région 3 :</strong> {{ object.region3 }}<br>
                {% endif %}
                <br>
                <p><strong>Critères de ciblage primaires & secondaires :</strong> {{ object.interet1 }}</p>
            </div>

            <h4>Détails de la campagne</h4>
            <div class="col-md-12" style="padding-left: 0">
                <div class="col-md-12 section-input">
                    <p><strong>Titre de la campagne :</strong> {{ object.titreCampagne }}</p>
                    <p><strong>Date de la campagne :</strong> {{ object.dateCampagne }}</p>
                    <p>
                        {% if object.type == 1 %}
                            <strong>Type de publibicité :</strong> Carrousel
                        {% elseif object.type == 2 %}
                            <strong>Type de publibicité :</strong> Image unique
                        {% elseif object.type == 3 %}
                            <strong>Type de publibicité :</strong> Vidéo unique
                        {% elseif object.type == 4 %}
                            <strong>Type de publibicité :</strong> Diaporama
                        {% endif %}
                    </p>
                    <p>
                        {% if object.offre == 1 %}
                            <strong>Offre :</strong> FB1 - 250 € - 3 jours
                        {% elseif object.offre == 10 %}
                            <strong>Offre :</strong> FB2 - 500 € - 5 jours
                        {% elseif object.offre == 3 %}
                            <strong>Offre :</strong> FB3 - 700 € - 7 jours
                        {% elseif object.offre == 2 %}
                            <strong>Offre :</strong> FB4 - 1000 € - 10 jours
                        {% elseif object.offre == 4 %}
                            <strong>Offre :</strong> FB5 - 3000 € - 1 mois
                        {% elseif object.offre == 5 %}
                            <strong>Offre :</strong> FB6 - Sélection immo/auto/emploi/voyages
                        {% elseif object.offre == 21 %}
                            Offre : Success Story
                        {% endif %}
                    </p>
                    <p><strong>Url de clic :</strong> <a href="{{ object.url }}">{{ object.url }}</a></p>
                </div>
            </div>
            <h4>Observations & commentaires</h4>
            <div class="section-campagne-observations">
                {{ object.observations }}
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit print-btn form-control">IMPRIMER LA CAMPAGNE</button>
        </div>
    </div>
    <div class="hidden">
        <script src="{{ asset('assets/js/printThis.js') }}"></script>
        <script>
            $('.print-btn').on('click', function (e) {
                e.preventDefault();
                $('#divToPrint').printThis({
                    importCSS: true,
                });
            });
        </script>
    </div>
{% endblock %}