{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}

{% block show %}
    <div class="form-container col-md-12">
        <div id="divToPrint">
            <h3><strong>Facebook</strong> | Estimation</h3>
            <p class="little-title">Informations client</p>
            <div class="col-md-12">
                <p><strong>Société</strong> : {{ object.societe }}</p>
                <p><strong>Site web client</strong> : {{ object.sitewebClient }}</p>
            </div>

            <p class="little-title">Informations Commercial</p>
            <div class="col-md-12">
                <p><strong>Commercial</strong> : {{ object.commercial }}</p>
            </div>
            
            <h4>Options de ciblage</h4>
            <div class="col-md-12 section-input">
                <p class="little-title">Ciblage démographique</p>

                <strong>Sexe : </strong>
                {% if object.sexe == 'h' %}
                    Homme
                {% elseif object.sexe == 'f' %}
                    Femme
                {% elseif object.sexe == 'hf' %}
                    Mixte
                {% endif %}

                <br>

                <strong>Tranche d'age : </strong>
                De {{ object.agemin }} a {{ object.agemax }} ans
                <br>
                <br>
                <p class="little-title">Ciblage géographique</p>
                {% if object.arrondissement != "" %}
                    <strong>Arrondissement Lyonnais :</strong> {% for arr in object.arrondissement %}{{ arr }} -{% endfor %}
                {% endif %}
                <br>

                {% if object.ville1 != "" %}
                    <strong>Ville 1 :</strong> {{ object.rayon1 }}km autour de {{ object.ville1 }}<br>
                {% endif %}
                {% if object.ville2 != "" %}
                    <strong>Ville 2 :</strong> {{ object.rayon2 }}km autour de {{ object.ville2 }}<br>
                {% endif %}
                {% if object.ville3 != "" %}
                    <strong>Ville 3 :</strong> {{ object.rayon3 }}km autour de {{ object.ville3 }}<br>
                {% endif %}

                {% if object.region1 != "" %}
                    <strong>Région 1 :</strong> {{ object.region1 }}<br>
                {% endif %}
                {% if object.region2 != "" %}
                    <strong>Région 2 :</strong> {{ object.region2 }}<br>
                {% endif %}
                {% if object.region3 != "" %}
                    <strong>Région 3 :</strong> {{ object.region3 }}<br>
                {% endif %}
                <br>
                <p><strong>Critères de ciblage primaires & secondaires :</strong></p>
                {{ object.interet1 }}
            </div>

            <h4>Détails de la campagne</h4>
            <div class="col-md-12" style="padding-left: 0">
                <div class="col-md-6 section-input">
                    <p><strong>Offre</strong></p>
                    {% if object.offre == 1 %}
                        Offre : FB1 - 250 € - 3 jours
                    {% elseif object.offre == 10 %}
                        Offre : FB2 - 500 € - 5 jours
                    {% elseif object.offre == 3 %}
                        Offre : FB3 - 700 € - 7 jours
                    {% elseif object.offre == 2 %}
                        Offre : FB4 - 1000 € - 10 jours
                    {% elseif object.offre == 4 %}
                        Offre : FB5 - 3000 € - 1 mois
                    {% elseif object.offre == 5 %}
                        Offre : FB6 - Sélection immo/auto/emploi/voyages
                    {% elseif object.offre == 7 %}
                        Offre : FB7 - Lyon Plus
                    {% elseif object.offre == 11 %}
                        Offre : 300€ - 5 jours
                    {% elseif object.offre == 12 %}
                        Offre : 500€ - 5 jours
                    {% elseif object.offre == 13 %}
                        Offre : 700€ - 5 jours
                    {% elseif object.offre == 14 %}
                        Offre : 1000€ - 10 jours
                    {% elseif object.offre == 15 %}
                        Offre : 1500€ - 10 jours
                    {% elseif object.offre == 16 %}
                        Offre : 2000€ - 10 jours
                    {% elseif object.offre == 17 %}
                        Offre : Offre Sélection
                    {% elseif object.offre == 18 %}
                        Offre : Dossier partenaire
                    {% elseif object.offre == 19 %}
                        Offre : Publi partenaire
                    {% elseif object.offre == 20 %}
                        Offre : #MAG
                    {% elseif object.offre == 21 %}
                        Offre : Success Story
                    {% endif %}
                    <br>
                    <br>
                    <p><strong>Objectifs </strong></p>
                    {% if object.objectif == 1 %}
                        Augmenter le trafic
                    {% elseif object.objectif == 2 %}
                        Augmenter le nombre de fans
                    {% elseif object.objectif == 3 %}
                        Notoriété ou événementiel
                    {% elseif object.objectif == 4 %}
                        Génération de prospects
                    {% elseif object.objectif == 5 %}
                        Vues de vidéos
                    {% endif %}
                </div>
            </div>
            <h4>Observations & commentaires</h4>
            <div class="section-simulation-observations">
                {{ object.observations }}
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit print-btn form-control">IMPRIMER L'ESTIMATION</button>
        </div>
    </div>
    <div class="hidden">
        <script src="{{ asset('assets/js/printThis.js') }}"></script>
        <script>
            $('.print-btn').on('click', function (e) {
                e.preventDefault();
                $('#divToPrint').printThis({
                    importCSS: true,
                });
            });
        </script>
    </div>
{% endblock %}