{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}
    <div class="form-container col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        {{ form_start(form) }}
        <h3><strong>Vidéo</strong> | Création</h3>
        <h4>Vidéo <span class="required"></span></h4>
        <div class="col-md-12">
            <div class="col-md-6 simulation-societe">
                <div class="col-md-12 section-input" style="margin-bottom: 0px">
                    <p class="little-title">Titre :</p>
                    {{ form_widget(form.nom) }}
                    <br>
                    {{ form_widget(form.secteur) }}
                    <br>
                    <p class="little-title">Catégorie / Secteur :</p>
                    {{ form_widget(form.idSecteur) }}
                    {{ form_widget(form.datePub) }}
                    <br>
                    <p class="little-title">Chapo :</p>
                    {{ form_widget(form.chapo) }}
                    <br>
                    <p class="little-title">Est-ce un bon plan / une promo :</p>
                    {{ form_widget(form.bonplan) }}
                    <ul class="list-unstyled">
                        <li>
                            <div class="checkbox">
                                <label>
                                    <div class="icheckbox_square-blue">
                                        <input type="checkbox"  class="checkbox-rayon bonplanbtn" value="1" style="position: absolute; opacity: 0;">
                                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                    <span class="control-label__text">Oui</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 section-input" style="margin-bottom: 0px">
                    <p class="little-title">Miniature :</p>
                    <div class="img-container">
                        {% if form.vars.value.thumb != "" %}
                            <img class="img-responsive" src="{{ form.vars.value.thumb }}"/>
                        {% endif %}
                    </div>
                    <br>
                    {{ form_widget(form.thumb, {'attr': {'class': 'input-file'}}) }}
                    <div style="float: left">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                            <span class="search-btn">Modifier ou ajouter une miniature</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <h4>Description <span class="required"></span></h4>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-12 section-input">
                <p class="little-title">Description courte :</p>
                {{ form_widget(form.description, {'attr': {'class': 'description'}}) }}
                <br>
                <p class="little-title">Description longue :</p>
                {{ form_widget(form.descriptionLongue, {'attr': {'class': 'description-longue'}}) }}
            </div>
        </div>

        <h4>Informations <span class="required"></span></h4>
        <div class="col-md-12">
            <div class="col-md-6 simulation-societe">
                <div class="col-md-12 section-input">
                    {{ form_widget(form.email) }}
                    <br>
                    {{ form_widget(form.nomEntreprise) }}
                    <br>
                    {{ form_widget(form.adresse) }}
                    <br>
                    {{ form_widget(form.cp) }}
                    <br>
                    {{ form_widget(form.ville) }}
                    <br>
                    {{ form_widget(form.tel1) }}
                    <br>
                    {{ form_widget(form.tel2) }}
                    <br>
                    {{ form_widget(form.twitter) }}
                    <br>
                    {{ form_widget(form.facebook) }}
                    <br>
                    {{ form_widget(form.googleplus) }}
                    <br>
                    {{ form_widget(form.viadeo) }}
                    <br>
                    {{ form_widget(form.linkedin) }}
                    <br>
                    {{ form_widget(form.instagram) }}
                    <br>
                    {{ form_widget(form.youtube) }}
                    <br>
                    {{ form_widget(form.site) }}
                    <br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 section-input" style="margin-bottom: 0px">
                    <p class="little-title">Map :</p>
                    <p>Utilisez ce champ pour chercher l'entreprise, et récupérer la lattitude et la longitude du lieu !
                        Vous pouvez déplacer le pointeur pour plus de précisions !</p>
                    <br>
                    <input type="text" id="user_input_autocomplete_address" placeholder="Adresse">
                    <br>
                    <br>
                    <div id="map" class="map"></div>
                    {{ form_widget(form.lat, {'attr': {'class': 'lat'}}) }}
                    {{ form_widget(form.lng, {'attr': {'class': 'lng'}}) }}
                </div>

                <div class="col-md-12 section-input" style="margin-bottom: 0px">
                    <p class="little-title">Embed :</p>
                    {{ form_widget(form.embed1) }}
                    <br>
                    <h4>Note pour mettre en place l'autoplay :</h4>
                    <strong>Pour Youtube :</strong>
                    <br>
                    <p>Dans l'url de l'iframe (ou "code embed"), rajouter la partie en gras dans l'exemple suivant :
                        http://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1
                        Plus d'infos : <a href="https://support.google.com/youtube/answer/171780?hl=fr">par ici</a> </p>
                    <strong>Pour facebook :</strong>
                    <br>
                    <p>Dans l'url de l'iframe (ou "code embed"), rajouter la partie en gras dans l'exemple suivant :
                        https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&autoplay=true
                        Plus d'infos & configurateur <a href="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&autoplay=true">par ici</a>
                        Il faut ensuite choisir "iframe" après avoir cliqué sur "obtenir le code" du configurateur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit form-control">ENVOYER / MODIFIER MA VIDEO</button>
        </div>
        {{ form_widget(form.status) }}
        {{ form_end(form) }}
    </div>
    <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">File Manager</h4>
                </div>
                <div class="modal-body">
                    <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'button2'}) }}" width="100%" height="500"
                            frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden">
        <script src="https://cdn.ckeditor.com/ckeditor5/11.1.1/classic/ckeditor.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2N5QLeJVlU3ZM1YUT_fhs-q1L_W-60ZI&v=3.exp&sensor=false&libraries=places"></script>
        <script>
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48.864716, lng: 2.349014},
                zoom: 3
            });

            {% if form.vars.value.lat != "" %}
                marker = new google.maps.Marker( {position: {lat: {{ form.vars.value.lat }}, lng: {{ form.vars.value.lng}} }, map: map, draggable: true} );
                var pt2 = new google.maps.LatLng({{ form.vars.value.lat }}, {{ form.vars.value.lng}});
                map.setCenter(pt2);
                map.setZoom(11);
            {% else %}
                marker = new google.maps.Marker( {position: {lat: 48.864716, lng: 2.349014}, map: map, draggable: true} );
            {% endif %}
            marker.addListener('drag', handleMarkerDrag);
            marker.addListener('dragend', handleMarkerDrag);

            function handleMarkerDrag(event) {
                $('.lat').val(event.latLng.lat())
                $('.lng').val(event.latLng.lng())
            }

            function initializeAutocomplete(id) {
                var element = document.getElementById(id);
                if (element) {
                    var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
                    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
                }
            }

            function onPlaceChanged() {
                var place = this.getPlace();
                var lat = place.geometry.location.lat();
                var lng = place.geometry.location.lng();

                marker.setPosition( new google.maps.LatLng(lat, lng) );
                var pt = new google.maps.LatLng(lat, lng);
                map.setCenter(pt);
                map.setZoom(11);

                $('.lat').val(lat)
                $('.lng').val(lng)
                for (var i in place.address_components) {
                    var component = place.address_components[i];
                    for (var j in component.types) {  // Some types are ["country", "political"]
                        var type_element = document.getElementById(component.types[j]);
                        if (type_element) {
                            type_element.value = component.long_name;
                        }
                    }
                }
            }

            google.maps.event.addDomListener(window, 'load', function() {
                initializeAutocomplete('user_input_autocomplete_address');
            });

            $('.btn-primary').on('click', function (e) {
                id = $(this).parent().prev().children().attr('id');
                $('#myframe').attr('data-id', id);
            });
            $('#myframe').on('load', function () {
                $(this).contents().on('click','.select',function () {
                    var path = $(this).attr('data-path');

                    $('.input-file').val(path);
                    $('.img-container').empty().append('<img class="img-responsive" src="'+ path +'" />')
                    $('#myModal').modal('hide');
                });
            });

            $('.bonplanbtn').on('ifChecked', function () {
                $('.bonplan').val(1);
            });
            $('.bonplanbtn').on('ifUnchecked', function () {
                $('.bonplan').val(0);
            });

            ClassicEditor.create( document.querySelector( '.description' ));
            ClassicEditor.create( document.querySelector( '.description-longue' ));

        </script>
    </div>
{% endblock %}