{% if object.status == 1 %}
    <a class="btn btn-danger" href="{{ path('depublish_video', {id: object.id }) }}">Dépublier</a>
{% else %}
    <a class="btn btn-success" href="{{ path('publish_video', {id: object.id }) }}">Publier</a>
{% endif %}