{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}
    <div class="form-container col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        {{ form_start(form) }}
        <h3><strong>Document</strong> | Ajout</h3>
        <div class="col-md-12 create-document">
            {{ form_widget(form.name) }}
            <div class="col-md-10 col-xs-10" style="padding-left: 0; padding-right: 0">
                {{ form_widget(form.url, {'attr': {'class': 'input-file'}}) }}
            </div>
            <div class="col-md-2 col-xs-2" style="padding-left: 0; padding-right: 0">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                    <span class="search-btn">Rechercher</span> <span class="glyphicon glyphicon-folder-open"></span>
                </button>
            </div>
            {{ form_widget(form.category) }}
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit form-control">ENVOYER / MODIFIER LE DOCUMENT</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">File Manager</h4>
                </div>
                <div class="modal-body">
                    <iframe id="myframe" src="{{ path('file_manager', {module:1, conf:'button'}) }}" width="100%" height="500"
                            frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#myframe').on('load', function () {
            $(this).contents().on('click','.select',function () {
                var path = $(this).attr('data-path');
                var filename = $(this).text();
                $('.input-file').val(path);
                $('#filename').html(filename);

                $('#myModal').modal('hide');
            });
        });
    </script>
    <!-- Modal -->


{% endblock %}
