{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}

    <div class="form-container col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        {{ form_start(form) }}
        {{ form_widget(form.commercial, {'value': app.user.email }) }}
        <h3><strong>Brand Content</strong></h3>

        <p class="little-title">Informations client <span class="required"></span></p>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-6">
                {{ form_widget(form.numOrdre) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.societe) }}
            </div>
        </div>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-6">
                {{ form_widget(form.nomClient) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.mailClient) }}
            </div>
        </div>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-6">
                {{ form_widget(form.telClient) }}
            </div>
            <div class="col-md-6">
                {{ form_widget(form.siteWebClient) }}
            </div>
        </div>
        <div class="col-md-12 simulation-societe">
            <div class="col-md-6">
                {{ form_widget(form.fbPage) }}
            </div>
            <div class="col-md-6"></div>
        </div>
        <h4>Options de ciblage</h4>
        <div class="col-md-12 section-input section-simulation-ciblage">
            <p class="little-title">Ciblage démographique <span class="required"></span></p>
            {{ form_widget(form.sexe) }}
            <div class="range-ciblage">
                <div class="row">
                    {{ form_widget(form.agemin) }}
                    {{ form_widget(form.agemax) }}
                    <span class="pull-left">13 ans</span>
                    <span class="pull-right">65+ ans</span>
                </div>
                <div class="row">
                    <div id="slider-range"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 section-input section-simulation-ciblage-geo">
            <p class="little-title">Ciblage géographique <span class="required"></span></p>
            <p>Arrondissements Lyonnais :</p>
            <div class="arrondissements">
                {{ form_widget(form.arrondissement) }}
            </div>

            <p>Villes (avec ou sans rayon)</p>
            <div class="col-md-6">
                {{ form_widget(form.ville1, {'attr': {'class': 'ville1'}}) }}
                {{ form_widget(form.ville2, {'attr': {'class': 'ville2'}}) }}
                {{ form_widget(form.ville3, {'attr': {'class': 'ville3'}}) }}
            </div>
            <div class="col-md-3 choice-ville">
                <ul class="list-unstyled">
                    <li>
                        <div class="checkbox">
                            <label>
                                <div class="icheckbox_square-blue">
                                    <input type="checkbox"  class="checkbox-rayon checkbox-rayon-1" value="1" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div>
                                <span class="control-label__text">Juste cette ville</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <div class="icheckbox_square-blue">
                                    <input type="checkbox" class="checkbox-rayon checkbox-rayon-2" value="1" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div>
                                <span class="control-label__text">Juste cette ville</span>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="checkbox">
                            <label>
                                <div class="icheckbox_square-blue">
                                    <input type="checkbox" class="checkbox-rayon checkbox-rayon-3" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; display: block; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div>
                                <span class="control-label__text">Juste cette ville</span>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="range-rayon1 row">
                    <div class="row">
                        {{ form_widget(form.rayon1) }}
                    </div>
                    <div class="row">
                        <div id="slider-range-rayon1"></div>
                    </div>
                </div>
                <div class="range-rayon2 row">
                    <div class="row">
                        {{ form_widget(form.rayon2) }}
                    </div>
                    <div class="row">
                        <div id="slider-range-rayon2"></div>
                    </div>
                </div>
                <div class="range-rayon3 row">
                    <div class="row">
                        {{ form_widget(form.rayon3) }}
                    </div>
                    <div class="row">
                        <div id="slider-range-rayon3"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 region-container">
                <p>Régions (pas de départements) : </p>
                {{ form_widget(form.region1, {'attr': {'class': 'region1'}}) }}
                {{ form_widget(form.region2, {'attr': {'class': 'region2'}}) }}
                {{ form_widget(form.region3, {'attr': {'class': 'region3'}}) }}
            </div>
        </div>
        <div class="col-md-12 section-input section-centre-interets">
            <p class="little-title">Critères de ciblage primaires & secondaires :</p>
            {{ form_widget(form.interet1) }}
        </div>

        <div class="col-md-12 section-simulation-campagne offre-objectif" >
            <div class="col-md-6 section-input" style="height: 175px">
                <p class="little-title">Offre <span class="required"></span></p>
                <div class="col-md-6" style="height: inherit !important;">
                    {{ form_widget(form.offre[0], {'attr': {'class': 'checkbox-1'}}) }}
                    {{ form_widget(form.offre[1], {'attr': {'class': 'checkbox-2'}}) }}
                </div>
            </div>
        </div>
        <h4>Date de diffusion</h4>
        <div class="section-simulation-url">
            {{ form_widget(form.dateDiffusion) }}
        </div>
        <h4>URL de la page d'atterissage</h4>
        <div class="section-simulation-url">
            {{ form_widget(form.url) }}
        </div>
        <br>
        <h4>Observations & commentaires</h4>
        <div class="section-simulation-observations">
            {{ form_widget(form.observations) }}
        </div>

        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit form-control">ENVOYER / MODIFIER</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="hidden">
        <script type="text/javascript">
            var tooltipAgemin = $('<div id="tooltipAgemin" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });
            var tooltipAgemax = $('<div id="tooltipAgemax" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });
            rangeAge = [15, 62];
            if($('.agemin').val() != '') {
                rangeAge[0] = $('.agemin').val();
                $('.agemin').val(rangeAge[0]);
            }

            if($('.agemax').val() != '') {
                rangeAge[1] = $('.agemax').val();
                $('.agemax').val(rangeAge[1]);
            }
            $( "#slider-range" ).slider({
                range: true,
                min: 13,
                max: 65,
                values: rangeAge,
                create: function() {
                    tooltipAgemin.text(rangeAge[0]);
                    tooltipAgemax.text(rangeAge[1]);
                },
                slide: function( event, ui ) {
                    $( ".agemin" ).val(ui.values[0]);
                    $( ".agemax" ).val(ui.values[1]);
                    tooltipAgemin.text(ui.values[0]);
                    tooltipAgemax.text(ui.values[1]);
                }
            }).find(".ui-slider-handle").first().append(tooltipAgemin);

            $("#slider-range").find(".ui-slider-handle").last().append(tooltipAgemax);

            var tooltip1 = $('<div id="tooltip1" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });

            rangeRayon1 = [17];
            if($('.rayon1').val() != '') {
                rangeRayon1[0] = $('.rayon1').val();
            }
            $( "#slider-range-rayon1" ).slider({
                min: 17,
                max: 80,
                values: rangeRayon1,
                create: function() {
                    tooltip1.text(rangeRayon1[0] + 'km')
                },
                slide: function( event, ui ) {
                    $( ".rayon1" ).val(ui.values[0]);
                    tooltip1.text(ui.value + "km");
                }
            }).find(".ui-slider-handle").append(tooltip1);


            var tooltip2 = $('<div id="tooltip2" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });

            rangeRayon2 = [17];
            if($('.rayon2').val() != '') {
                rangeRayon2[0] = $('.rayon2').val();
            }
            $( "#slider-range-rayon2" ).slider({
                min: 17,
                max: 80,
                values: rangeRayon2,
                create: function() {
                    tooltip2.text(rangeRayon2[0] + 'km')
                },
                slide: function( event, ui ) {
                    $( ".rayon2" ).val(ui.values[0]);
                    tooltip2.text(ui.value + "km");
                }
            }).find(".ui-slider-handle").append(tooltip2);

            var tooltip3 = $('<div id="tooltip3" />').css({
                position: 'absolute',
                top: -25,
                left: 0
            });

            rangeRayon3 = [17];
            if($('.rayon3').val() != '') {
                rangeRayon3[0] = $('.rayon3').val();
            }
            $( "#slider-range-rayon3" ).slider({
                min: 17,
                max: 80,
                values: rangeRayon3,
                create: function() {
                    tooltip3.text(rangeRayon3[0] + 'km')
                },
                slide: function( event, ui ) {
                    $( ".rayon3" ).val(ui.values[0]);
                    tooltip3.text(ui.value + "km");
                }
            }).find(".ui-slider-handle").append(tooltip3);

            $('.checkbox-mag, .checkbox-dossier, .checkbox-publi, .checkbox-selection').on('ifChecked', function () {
                i=0;
                $('.obj-select li').each(function () {
                    if(i !== 0) {
                        $(this).children().find('input').attr('disabled', 'disabled');
                        $(this).children().find('.control-label__text').attr('style', 'color: grey !important')
                    }
                    i++;
                });
            });

            $('.checkbox-mag, .checkbox-dossier, .checkbox-publi, .checkbox-selection').on('ifUnchecked', function () {
                $('.obj-select input[type="radio"]').attr('disabled', '');
                $('.obj-select .control-label__text').attr('style', '')

            });

            $('.checkbox-1, .checkbox-2, .checkbox-3').on('ifChecked', function () {
                i=0;
                $('.obj-select li').each(function () {
                    if(i === 3) {
                        $(this).children().find('input').attr('disabled', 'disabled');
                        $(this).children().find('.control-label__text').attr('style', 'color: grey !important')
                    }
                    i++;
                });
            });

            $('.checkbox-1, .checkbox-2, .checkbox-3').on('ifUnchecked', function () {
                $('.obj-select input[type="radio"]').attr('disabled', '');
                $('.obj-select .control-label__text').attr('style', '')

            });

            $('.checkbox-rayon-1').on('ifChecked', function () {
                $('#slider-range-rayon1').hide();
                $('.rayon1').val(0);
            });

            $('.checkbox-rayon-1').on('ifUnchecked', function () {
                $('.rayon1').val(17);
                $( "#slider-range-rayon1" ).slider({
                    values: [17],
                });
                tooltip1.text("17km");
                $('#slider-range-rayon1').show();
            });

            $('.checkbox-rayon-2').on('ifChecked', function () {
                $('#slider-range-rayon2').hide();
                $('.rayon2').val(0);
            });

            $('.checkbox-rayon-2').on('ifUnchecked', function () {
                $('.rayon2').val(17);
                $( "#slider-range-rayon2" ).slider({
                    values: [17],
                });
                tooltip2.text("17km");
                $('#slider-range-rayon2').show();
            });

            $('.checkbox-rayon-3').on('ifChecked', function () {
                $('#slider-range-rayon3').hide();
                $('.rayon3').val('');

            });

            $('.checkbox-rayon-3').on('ifUnchecked', function () {
                $('.rayon3').val(17);
                $( "#slider-range-rayon3" ).slider({
                    values: [17],
                });
                tooltip3.text("17km");
                $('#slider-range-rayon3').show();
            });

            $(document).on('ifChecked', '.checkbox-fb', function (e) {
                $('.form-fb-page').hide();
                $(this).parent().parent().parent().next().css('display', 'block');
            });

            $(document).on('ifChecked', '.objectif-radio', function (e) {
                if($('.objectif-radio:checked').val() == '2') {
                    $('.type-1').parent().parent().parent().css('display', 'none');
                } else {
                    $('.type-1').parent().parent().parent().css('display', 'block');
                }
            });

            $(function() {
                if($('.fb-page-section .radio .iradio_square-blue input:checked')) {
                    $('.fb-page-section .radio .iradio_square-blue input:checked').parent().parent().parent().next().css('display', 'block');
                }
                $('.date-campagne').daterangepicker({
                }, function(start, end, label) {
                    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                });
            });



            $('.btn-submit').on('click', function (e) {

                if($('.section-simulation-ciblage-geo .checkbox').children().find('.checked').length === 0 &&
                    $('.ville1').val() === "" &&
                    $('.ville2').val() === "" &&
                    $('.ville3').val() === "" &&
                    $('.region1').val() === "" &&
                    $('.region2').val() === "" &&
                    $('.region3').val() === "") {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    $('.err1').remove();
                    $('<p class="red err1">Les champs du ciblage géographique sont obligatoires !</p>').insertAfter('.section-simulation-ciblage-geo .little-title')
                }

                if($('.section-simulation-ciblage .checked input[type=radio]').val() === "") {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    $('.err2').remove();
                    $('<p class="red err2">Les champs du ciblage démographique sont obligatoires !</p>').insertAfter('.section-simulation-ciblage .little-title')
                }

                if($('.ville1') !== null && $('.rayon1').val() == null) {
                    $('.rayon1').val(17);
                }

                if($('.ville2') !== null && $('.rayon2').val() == null) {
                    $('.rayon2').val(17);
                }

                if($('.ville2') !== null && $('.rayon3').val() == null) {
                    $('.rayon2').val(17);
                }
            });
        </script>
    </div>
{% endblock %}