Brand content du : {{ object.date | date('d/m/y h:i:s') }}<br><br>

<strong>Client :</strong>
<br>
{{ object.societe }}<br>
{{ object.nomClient }}<br>
{{ object.mailClient }}<br>
{{ object.telClient }}<br>
{{ object.sitewebClient }}<br>
{{ object.fbPage }}

<br>
<br>

<strong>Commercial :</strong><br>
{{ object.commercial }}

<br>
<br>

<strong>ID :</strong><br>
# {{ object.id }}

<br>
<br>

<strong>Num ordre :</strong>
{{ object.numOrdre }}

<br>
<br>

<strong> - Cible démographique</strong>

<br>

<strong>Sexe : </strong>
{% if object.sexe == 'h' %}
    Homme
{% elseif object.sexe == 'f' %}
    Femme
{% elseif object.sexe == 'hf' %}
    Mixte
{% endif %}

<br>

<strong>Tranche d'age : </strong>
De {{ object.agemin }} a {{ object.agemax }} ans

<br>
<br>

<strong> - Cible géographique</strong>

<br>
{% if object.arrondissement != "" %}
    Arrondissement Lyonnais : {% for arr in object.arrondissement %}{{ arr }} -{% endfor %}

{% endif %}
<br>

{% if object.ville1 != "" %}
    Ville 1 : {{ object.rayon1 }}km autour de {{ object.ville1 }}<br>
{% endif %}
{% if object.ville2 != "" %}
    Ville 2 : {{ object.rayon2 }}km autour de {{ object.ville2 }}<br>
{% endif %}
{% if object.ville3 != "" %}
    Ville 3 : {{ object.rayon3 }}km autour de {{ object.ville3 }}<br>
{% endif %}

<br>

{% if object.region1 != "" %}
    Région 1 : {{ object.region1 }}<br>
{% endif %}
{% if object.region2 != "" %}
    Région 2 : {{ object.region2 }}<br>
{% endif %}
{% if object.region3 != "" %}
    Région 3 : {{ object.region3 }}<br>
{% endif %}

<br>

Centres d'intérêts : {{ object.interet1 }}

<br>
<br>

<strong>Caractéristiques</strong>
<br>

{% if object.offre == 1 %}
    Offre : Dossier partenaire
{% elseif object.offre == 2 %}
    Offre : Page partenaire
{% endif %}

<br>
<br>

Date de diffusion : {{ object.dateDiffusion | date('d/m/y h:i:s') }}

<br>

Url de redirection : {{ object.url }}

<br>

Observations : {{ object.observations }}

<br>
<br>

Details du brand content : <a href="{{ url('admin_app_brand_content_form_edit', {id: object.id}) }}">{{ url('admin_app_brand_content_form_edit', {id: object.id}) }}</a>