Simulation Facebook du : {{ object.date | date('d/m/y h:i:s') }}<br><br>

<strong>Client :</strong>
<br>
{{ object.societe }}<br>
{{ object.sitewebClient }}

<br>
<br>

<strong>Commercial :</strong><br>
{{ object.commercial }}

<br>
<br>

<strong>ID :</strong><br>
# {{ object.id }}

<br>
<br>
<strong>Objectif : </strong>
{% if object.objectif == 1 %}
    Augmenter le trafic
{% elseif object.objectif == 2 %}
    Augmenter le nombre de fans
{% elseif object.objectif == 3 %}
    Notoriété ou événementiel
{% elseif object.objectif == 4 %}
    Génération de prospects
{% elseif object.objectif == 5 %}
    Vues de vidéos
{% endif %}

<br>
<br>

<strong> - Cible démographique</strong>

<br>

<strong>Sexe : </strong>
{% if object.sexe == 'h' %}
    Homme
{% elseif object.sexe == 'f' %}
    Femme
{% elseif object.sexe == 'hf' %}
    Mixte
{% endif %}

<br>

<strong>Tranche d'age : </strong>
De {{ object.agemin }} a {{ object.agemax }} ans

<br>
<br>

<strong> - Cible géographique</strong>

<br>
{% if object.arrondissement != "" %}
    Arrondissement Lyonnais : {% for arr in object.arrondissement %}{{ arr }} -{% endfor %}

{% endif %}
<br>

{% if object.ville1 != "" %}
    Ville 1 : {{ object.rayon1 }}km autour de {{ object.ville1 }}<br>
{% endif %}
{% if object.ville2 != "" %}
    Ville 2 : {{ object.rayon2 }}km autour de {{ object.ville2 }}<br>
{% endif %}
{% if object.ville3 != "" %}
    Ville 3 : {{ object.rayon3 }}km autour de {{ object.ville3 }}<br>
{% endif %}

<br>

{% if object.region1 != "" %}
    Région 1 : {{ object.region1 }}<br>
{% endif %}
{% if object.region2 != "" %}
    Région 2 : {{ object.region2 }}<br>
{% endif %}
{% if object.region3 != "" %}
    Région 3 : {{ object.region3 }}<br>
{% endif %}

<br>

Centres d'intérêts : {{ object.interet1 }}

<br>
<br>

<strong>Caractéristiques</strong>
<br>

{% if object.offre == 1 %}
    Offre : FB1 - 250 € - 3 jours
{% elseif object.offre == 10 %}
    Offre : FB2 - 500 € - 5 jours
{% elseif object.offre == 3 %}
    Offre : FB3 - 700 € - 7 jours
{% elseif object.offre == 2 %}
    Offre : FB4 - 1000 € - 10 jours
{% elseif object.offre == 4 %}
    Offre : FB5 - 3000 € - 1 mois
{% elseif object.offre == 5 %}
    Offre : FB6 - Sélection immo/auto/emploi/voyages
{% elseif object.offre == 7 %}
    Offre : FB7 - Lyon Plus
{% elseif object.offre == 11 %}
    Offre : 300€ - 5 jours
{% elseif object.offre == 12 %}
    Offre : 500€ - 5 jours
{% elseif object.offre == 13 %}
    Offre : 700€ - 5 jours
{% elseif object.offre == 14 %}
    Offre : 1000€ - 10 jours
{% elseif object.offre == 15 %}
    Offre : 1500€ - 10 jours
{% elseif object.offre == 16 %}
    Offre : 2000€ - 10 jours
{% elseif object.offre == 17 %}
    Offre : Offre Sélection
{% elseif object.offre == 18 %}
    Offre : Dossier partenaire
{% elseif object.offre == 19 %}
    Offre : Publi partenaire
{% elseif object.offre == 20 %}
    Offre : #MAG
{% elseif object.offre == 21 %}
    Offre : Success Story
{% endif %}
<br>
<br>

Observations : {{ object.observations }}

<br>
<br>

Details de la simulation : <a href="{{ url('admin_app_facebook_simulation_form_show', {id: object.id}) }}">{{ url('admin_app_facebook_simulation_form_edit', {id: object.id}) }}</a>