<div class="col-md-9">
    <p class="little-title">Demande de Vidéo</p>
    <div class="col-md-4">
        <p>Vidéo :</p>
        <p><strong>{{ object.nom }}</strong></p>
        <p><strong>{{ object.secteur }}</strong></p>
        {% if object.idSecteur == 17 %}
            <p><strong>Rhone /  Lyon </strong></p>
        {% elseif object.idSecteur == 18 %}
            <p><strong>Saône et Loire / Chalon</strong></p>
        {% elseif object.idSecteur == 19 %}
            <p><strong>Loire / St Etienne</strong></p>
        {% elseif object.idSecteur == 20 %}
            <p><strong>Côte d'or / Dijon</strong></p>
        {% elseif object.idSecteur == 21 %}
            <p><strong>Jura / Lons-le-Saunier</strong></p>
        {% elseif object.idSecteur == 22 %}
            <p><strong>Ain / Bourg-en-Bresse</strong></p>
        {% elseif object.idSecteur == 23 %}
            <p><strong>Haute-Loire / Le Puy</strong></p>
        {% endif %}
        <p><strong>{{ object.datePub | date('d/m/y') }}</strong></p>
        <p><strong>{{ object.chapo }}</strong></p>
        {% if object.bonplan == 1 %}
            <p><strong>Bon plan : OUI </strong></p>
        {% else  %}
            <p><strong>Bon plan : NON </strong></p>
        {% endif %}
    </div>
    <div class="col-md-4">
        <p>Description :</p>
        <p><strong>{{ object.description }}</strong></p>
        <br>
        <p><strong>{{ object.descriptionLongue }}</strong></p>
    </div>
    <div class="col-md-4">
        <p>Informations :</p>
        <p><strong>{{ object.nomEntreprise }}</strong></p>
        <p><strong>{{ object.adresse }}</strong></p>
        <p><strong>{{ object.cp }}</strong></p>
        <p><strong>{{ object.ville }}</strong></p>
        <p><strong>{{ object.tel1 }}</strong></p>
        <p><strong>{{ object.tel2 }}</strong></p>
        <p><strong>{{ object.twitter }}</strong></p>
        <p><strong>{{ object.facebook }}</strong></p>
        <p><strong>{{ object.viadeo }}</strong></p>
        <p><strong>{{ object.googleplus }}</strong></p>
        <p><strong>{{ object.linkedin }}</strong></p>
        <p><strong>{{ object.instagram }}</strong></p>
        <p><strong>{{ object.youtube }}</strong></p>
        <p><strong>{{ object.site }}</strong></p>
        <p><strong>{{ object.embed1 }}</strong></p>
    </div>
</div>

<br>
<a href="{{ url('admin_app_mapetiteentreprise_form_edit', {id: object.id}) }}">Consulter la vidéo</a>