Demande de prospective du : {{ object.date | date('d/m/y h:i:s') }}<br><br>

<strong>Client :</strong>
<br>
{{ object.nomclient }}<br>
{{ object.sitewebclient }}

<br>
<br>

<strong>Commercial :</strong><br>
Département : {{ object.departementCommercial }}<br>
{{ object.nomcommercial }} {{ object.prenomcommercial }}<br>
{{ object.emailcommercial }}<br>
{{ object.telephonecommercial }}

<br>
<br>

<strong>Format souhaité : </strong><br>
{{ object.listeformatsbase }}

<br>
<br>

<strong>Zone de diffusion : </strong><br>
{{ object.listezonediffusionbase }}<br>
Rubrique : {{ object.rubrique }}

<br>
<br>

<strong>Types de communications : </strong><br>
{% for comm in object.listetypebase %}
    {{ comm }}<br>
{% endfor %}

<br>
<br>

<strong>Briefing : </strong><br>
{{ object.briefing }}

<br>
<br>


Details de la demande : <a href="{{ url('admin_app_prospective_form_edit', {id: object.id}) }}">{{ url('admin_app_prospective_form_edit', {id: object.id}) }}</a>