<div class="col-md-9">
    <p class="little-title">Demande de publi info</p>
    <div class="col-md-4">
        <p>Annonceur :</p>
        <p><strong>{{ object.raisonsocialAnnonceur }}</strong></p>
        <p><strong>{{ object.nomAnnonceur }}</strong></p>
        <p><strong>{{ object.adresseAnnonceur }}</strong></p>
        <p><strong>{{ object.emailAnnonceur }}</strong></p>
        <p><strong>{{ object.telAnnonceur }}</strong></p>
    </div>
    <div class="col-md-4">
        <p>Commercial :</p>
        {% if object.departement == 1 %}
            <p><strong>AIN</strong></p>
        {% elseif object.departement == 2 %}
            <p><strong>LOIRE / HAUTE-LOIRE</strong></p>
        {% elseif object.departement == 3 %}
            <p><strong>JURA</strong></p>
        {% elseif object.departement == 4 %}
            <p><strong>RHÔNE</strong></p>
        {% elseif object.departement == 5 %}
            <p><strong>SAÔNE ET LOIRE</strong></p>
        {% elseif object.departement == 6 %}
            <p><strong>CÖTE D'OR</strong></p>
        {% endif %}
        <p><strong>{{ object.nomCommercial }}</strong></p>
        <p><strong>{{ object.emailCommercial }}</strong></p>
        <p><strong>{{ object.telCommercial }}</strong></p>
    </div>
    <div class="col-md-4">
        <p>ID :</p>
        <p><strong>#{{ object.id }}</strong></p>
        <p>Num. Ordre :</p>
        <p><strong>{{ object.id }}</strong></p>
    </div>
</div>
<div class="col-md-9">
    <table class="table table-summary-parution">
        <tr>
            <td width="165"><strong>Date de la demande</strong></td>
            <td>{{ object.dateSaisie | date('d/m/y') }}</td>
        </tr>
        <tr>
            <td><strong>Date de object</strong></td>
            <td>{{ object.dateParution | date('d/m/y') }}</td>
        </tr>
        <tr>
            <td><strong>Support(s)</strong></td>
            <td>
                {% for support in object.support %}
                    {% if support == 1 %}
                        <p>Progrès</p>
                    {% elseif support == 2 %}
                        <p>CNews Matin / Lyon Plus</p>
                    {% elseif support == 3 %}
                        <p>Bien Public</p>
                    {% elseif support == 4 %}
                        <p>JSL</p>
                    {% elseif support == 5 %}
                        <p>TV Mag</p>
                    {% elseif support == 6 %}
                        <p>Version Femina</p>
                    {% elseif support == 7 %}
                        <p>C'est en ville Lyon</p>
                    {% elseif support == 8 %}
                        <p>C'est en ville Est</p>
                    {% elseif support == 9 %}
                        <p>C'est en ville Ouest</p>
                    {% elseif support == 10 %}
                        <p>C'est en ville Chalon</p>
                    {% elseif support == 11 %}
                        <p>C'est en ville Dijon</p>
                    {% elseif support == 12 %}
                        <p>Progrès.fr (web)</p>
                    {% elseif support == 13 %}
                        <p>lesjl.com (web)</p>
                    {% elseif support == 14 %}
                        <p>bienpublic.com (web)</p>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>Format</strong></td>

            <td>
                {% if object.format == 1%}
                1/4 page (1500 signes)
                {% elseif object.format == 2 %}
                1/2 page (3000 signes)
                {% elseif object.format == 3 %}
                1 page (6000 signes)
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Thème</strong></td>
            <td>{{ object.theme }}</td>
        </tr>
        <tr>
            <td><strong>Observations</strong></td>
            <td>{{ object.observations }}</td>
        </tr>
    </table>
</div>
<br>
<a href="{{ url('summary_publication', {id: object.id}) }}">Consulter la publication</a>