<div class="col-md-9">
    <p class="little-title">Commande de Vidéo</p>
    <div class="col-md-4">
        <p>Client :</p>
        <p><strong>{{ object.societe }}</strong></p>
        <p><strong>{{ object.nomClient }}</strong></p>
        <p><strong>{{ object.adresseClient }}</strong></p>
        <p><strong>{{ object.telClient }}</strong></p>
        <p><strong>{{ object.mailClient }}</strong></p>
        <p><strong>{{ object.sitewebClient }}</strong></p>
        <br>
        <p>Vidéo :</p>
        <p><strong>{{ object.titreVideo }}</strong></p>
        <p><strong>{{ object.datelivraison | date('d/m/y') }}</strong></p>
        <p><strong>{{ object.observations }}</strong></p>
        <p><strong>{{ object.cible }}</strong></p>
        <p><strong>{{ object.lieu }}</strong></p>
    </div>
    <div class="col-md-4">
        <p>Réseaux :</p>
        <p><strong>{{ object.reseauFacebook }}</strong></p>
        <p><strong>{{ object.reseauTwitter }}</strong></p>
        <p><strong>{{ object.reseauInsta }}</strong></p>
        <p><strong>{{ object.reseauYoutube }}</strong></p>
        <p><strong>{{ object.reseauViadeo }}</strong></p>
        <p><strong>{{ object.reseauLinkedin }}</strong></p>
        <p><strong>{{ object.reseauGoogle }}</strong></p>
        <br>
        <p>Options Techniques :</p>

        {% if object.opttech != "" %}
            {% for arr in object.opttech %}
                {% if arr == 1 %}
                    <p><strong>300 € : Vues aériennes drone sur site privé</strong></p>
                {% elseif arr == 2 %}
                    <p><strong>600 € : Vues aériennes drone sur site soumis à autorisation</strong></p>
                {% elseif arr == 3 %}
                    <p><strong>500 € : Reportage photos (50 photos max)avec ajustements si nécessaire dans le cadre de la réalisation d’une vidéo</strong></p>
                {% elseif arr == 4 %}
                    <p><strong>600 € : Reportage photos (50 photos max) avec ajustements si nécessaire</strong></p>
                {% elseif arr == 5 %}
                    <p><strong>150 € : Tournage sur site distant même secteur (dans la limite de 20km)</strong></p>
                {% elseif arr == 6 %}
                    <p><strong>150 € : Demande supplémentaire de modification sur la vidéo</strong></p>
                {% elseif arr == 7 %}
                    <p>600 € : Motion design (20 secondes)</p>
                {% elseif arr == 8 %}
                    <p>600 € : Réalisation d’une vidéo évènementielle ou publicitaire spécifique</p>
                {% elseif arr == 9 %}
                    <p>1 000 € : Vues aériennes drone sur site privé et/ou soumis à autorisation</p>
                {% elseif arr == 10 %}
                    <p>500 € : Pack 50 photos assuré par un réalisateur</p>
                {% elseif arr == 11 %}
                    <p>1 500 € : Pack 50 photos réalisé par un photographe professionnel</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<br>
<a href="{{ url('summary_video', {id: object.id}) }}">Consulter la commande</a>