{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_tab_content %}
    <div class="form-container col-md-12 {{ admin.formgroups.General.class|default('col-md-12') }}">
        {{ form_start(form) }}
        <h3><strong>Vidéo</strong> | Commande</h3>
        <div class="col-md-12">
            <div class="col-md-6 simulation-societe">
                <div class="col-md-12 section-input" style="margin-bottom: 0px">
                    <p class="little-title">Client :</p>
                    {{ form_widget(form.numOrdre) }}
                    <br>
                    {{ form_widget(form.societe) }}
                    <br>
                    {{ form_widget(form.nomClient) }}
                    <br>
                    {{ form_widget(form.adresseClient) }}
                    <br>
                    {{ form_widget(form.telClient) }}
                    <br>
                    {{ form_widget(form.mailClient) }}
                    <br>
                    {{ form_widget(form.sitewebClient) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 section-input" style="margin-bottom: 0px">
                    <p class="little-title">Vidéo :</p>
                    {{ form_widget(form.titreVideo) }}
                    <br>
                    <p>15 jours ouvrés à compter du jour de la commande !</p>
                    {{ form_widget(form.datelivraison, {'attr': {'placeholder': 'Date de livraison', 'class': 'date-livraison'}}) }}
                    <br>
                    <p class="little-title">Objectifs :</p>
                    {{ form_widget(form.observations) }}
                    <br>
                    <p class="little-title">Cible :</p>
                    {{ form_widget(form.cible) }}
                    <br>
                    {{ form_widget(form.lieu) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 simulation-societe">
                <div class="col-md-12 section-input">
                    <p class="little-title">Réseaux :</p>
                    {{ form_widget(form.reseauFacebook) }}
                    <br>
                    {{ form_widget(form.reseauTwitter) }}
                    <br>
                    {{ form_widget(form.reseauInsta) }}
                    <br>
                    {{ form_widget(form.reseauYoutube) }}
                    <br>
                    {{ form_widget(form.reseauViadeo) }}
                    <br>
                    {{ form_widget(form.reseauLinkedin) }}
                    <br>
                    {{ form_widget(form.reseauGoogle) }}
                    <br>

                    <p class="little-title">Options techniques :</p>
                    {{ form_widget(form.opttech) }}
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button type="submit" class="btn-submit form-control">ENVOYER / MODIFIER MA VIDEO</button>
                </div>
            </div>
        </div>
        {{ form_widget(form.commercial, {'value': app.user.email}) }}
        {{ form_end(form) }}
    </div>
    <div class="hidden">
        <script>
        </script>
    </div>
{% endblock %}