{% extends 'default/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <div class="form-container col-md-12">
        <div id="divToPrint">
            <h3><strong>Vidéo</strong> | Commande</h3>
            <p class="little-title">Informations client</p>
            <div class="col-md-12">
                <p><strong>Num Ordre</strong> : {{ video.numOrdre }}</p>
                <p><strong>Société</strong> : {{ video.societe }}</p>
                <p><strong>Nom client</strong> : {{ video.nomClient }}</p>
                <p><strong>Adresse client</strong> : {{ video.adresseClient }}</p>
                <p><strong>Mail client</strong> : {{ video.mailClient }}</p>
                <p><strong>Tel client</strong> : {{ video.telClient }}</p>
                <p><strong>Site web client</strong> : {{ video.sitewebClient }}</p>
            </div>

            <p class="little-title">Informations Commercial</p>
            <div class="col-md-12">
                <p><strong>Commercial</strong> : {{ video.commercial }}</p>
            </div>

            <h4>Vidéo</h4>
            <div class="col-md-12 section-input">
                <p class="little-title">Vidéo :</p>
                <p><strong>Titre de la vidéo</strong> : {{  video.titreVideo }}</p>
                <p><strong>Date de livraison</strong> : {{  video.datelivraison | date('d/m/Y') }}</p>
                <p><strong>Observations</strong> : {{  video.observations }}</p>
                <p><strong>Cible</strong> : {{  video.cible }}</p>
                <p><strong>Lieu</strong> : {{  video.lieu }}</p>
            </div>

            <h4>Réseaux sociaux</h4>
            <div class="col-md-12 section-input">
                <p class="little-title">Réseaux :</p>
                <p><strong>Facebook</strong> : {{  video.reseauFacebook }}</p>
                <p><strong>Twitter</strong> : {{  video.reseauTwitter }}</p>
                <p><strong>Instagram</strong> : {{  video.reseauInsta }}</p>
                <p><strong>Youtube</strong> : {{  video.reseauYoutube }}</p>
                <p><strong>Viadéo</strong> : {{  video.reseauViadeo }}</p>
                <p><strong>Linkedin</strong> : {{  video.reseauLinkedin }}</p>
                <p><strong>Google +</strong> : {{  video.reseauGoogle }}</p>
                <p class="little-title">Options techniques :</p>
                {% if video.opttech[0] == 1 %}
                    <p>300 € : Vues aériennes drone sur site privé</p>
                {% elseif video.opttech[0] == 2 %}
                    <p>600 € : Vues aériennes drone sur site soumis à autorisation</p>
                {% elseif video.opttech[0] == 3 %}
                    <p>500 € : Reportage photos (50 photos max)avec ajustements si nécessaire dans le cadre de la réalisation d’une vidéo</p>
                {% elseif video.opttech[0] == 4 %}
                    <p>600 € : Reportage photos (50 photos max) avec ajustements si nécessaire</p>
                {% elseif video.opttech[0] == 5 %}
                    <p>150 € : Tournage sur site distant même secteur (dans la limite de 20km)</p>
                {% elseif video.opttech[0] == 6 %}
                    <p>150 € : Demande supplémentaire de modification sur la vidéo</p>
                {% elseif video.opttech[0] == 7 %}
                    <p>600 € : Motion design (20 secondes)</p>
                {% elseif video.opttech[0] == 8 %}
                    <p>600 € : Réalisation d’une vidéo évènementielle ou publicitaire spécifique</p>
                {% elseif video.opttech[0] == 9 %}
                    <p>1 000 € : Vues aériennes drone sur site privé et/ou soumis à autorisation</p>
                {% elseif video.opttech[0] == 10 %}
                    <p>500 € : Pack 50 photos assuré par un réalisateur</p>
                {% elseif video.opttech[0] == 11 %}
                    <p>1 500 € : Pack 50 photos réalisé par un photographe professionnel</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <button type="submit" class="btn-submit print-btn form-control">IMPRIMER LA COMMANDE</button>
        </div>
    </div>
    <div class="hidden">
        <script src="{{ asset('assets/js/printThis.js') }}"></script>
        <script>
            $('.print-btn').on('click', function (e) {
                e.preventDefault();
                $('#divToPrint').printThis({
                    importCSS: true,
                });
            });
        </script>
    </div>
{% endblock %}